body {
  font-family: sans;
  margin: 5%;
}

div.entity {
  margin-top: 2em;
  border-top: 5px solid black;
}

h2 {
  clear: both;
}

img {
  vertical-align: middle;
}

ul.categories {
  list-style: none;
  padding: 0;
}

ul.categories li {
  display: inline-block;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}

ul.categories li.active {
  background: #f90;
}

label {
  margin-right: 0.5em;
}