@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url("http://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2") format("woff2");
  unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
body {
  font-family: "Open Sans", sans;
  color: #333;
  padding: 0;
  margin: 0; }

main {
  padding-left: 1em;
  padding-right: 1em; }
  main h1 {
    font-weight: normal;
    text-align: center; }
  main h2.count {
    font-size: 1em;
    font-weight: normal;
    padding: 1em;
    margin: 0;
    background: black;
    color: white;
    text-align: center; }

div.entity {
  background: #ccc;
  padding: 10px;
  border-bottom: 40px solid #f90;
  clear: both;
  overflow: hidden; }
  div.entity > div {
    background: white; }
  div.entity table {
    border-spacing: 0;
    border-collapse: collapse;
    margin: -1px; }
    div.entity table h3, div.entity table h4 {
      margin: 0; }
    div.entity table h3 {
      font-size: 1.5em;
      margin-bottom: 0.5em; }
    div.entity table td {
      padding: 1em;
      border: 1px solid #ccc;
      vertical-align: top; }
    div.entity table td.logo {
      height: 150px;
      width: 150px;
      text-align: center;
      vertical-align: middle; }
      div.entity table td.logo img {
        max-height: 100%;
        max-width: 100%; }
    div.entity table td.tagline {
      padding-bottom: 0.5em; }
    div.entity table td.descr {
      padding-top: 0;
      padding-bottom: 0; }
  div.entity div.photo {
    float: left;
    width: 400px;
    height: 400px;
    background-color: transparent;
    background-size: cover;
    background-position: center; }
    @media (max-width: 800px) {
      div.entity div.photo {
        width: 100%;
        float: none; } }
  div.entity div.descr {
    margin-left: 410px;
    overflow: hidden; }
    @media (max-width: 800px) {
      div.entity div.descr {
        margin-left: 0; } }

form > div {
  padding: 1em;
  padding-left: 1em;
  padding-right: 1em;
  clear: both;
  overflow: hidden; }
form div.query {
  background: #eee; }
  form div.query div.input {
    font-size: 0.65em;
    font-weight: bold;
    display: inline-block;
    width: 30em;
    vertical-align: top; }
  form div.query div.submit {
    float: right;
    width: 15em; }
form div.tags {
  columns: 12em auto; }
  form div.tags ul {
    padding: 0;
    margin: 0;
    list-style: none; }
    form div.tags ul li {
      padding: 0.25em 0;
      margin: 0; }
      form div.tags ul li label {
        cursor: pointer;
        display: inline; }
        form div.tags ul li label input {
          cursor: pointer;
          width: auto; }

input, select {
  color: #333;
  box-sizing: border-box;
  padding: 0.7em 0.35em;
  margin: 0.25em 0;
  font-size: 1rem;
  font-family: sans;
  width: 90%; }

option:checked {
  background-color: #f90; }

input:focus, select:focus {
  outline-color: #f90; }

input[type=submit] {
  float: right;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 2px; }

/*# sourceMappingURL=main.css.map */
