$orange: #f90;
$padding_left: 1em;
$padding_right: $padding_left;
$black: #333;
$small: 800px;

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url("http://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2") format("woff2");
  unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
  font-family: "Open Sans", sans;
  color: $black;
  padding: 0;
  margin: 0;
}

main {
  padding-left: $padding_left;
  padding-right: $padding_right;

  h1 {
    font-weight: normal;
    text-align: center;
  }

  h2.count {
    font-size: 1em;
    font-weight: normal;
    padding: 1em;
    margin: 0;
    background: black;
    color: white;
    text-align: center;
  }
}

div.entity {
  background: #ccc;
  padding: 5px;
  border-bottom: 40px solid $orange;
  clear: both;
  overflow: hidden;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  @media (max-width: $small) {
    display: block;
  }
  > div {
    margin: 5px;
  }

  div.photovideo {
    flex: 0 0 400px;

    div.photo {
      height: 300px;
      background-size: cover;
      background-position: center;
      margin-bottom: 10px;
    }
    div.photo:last-child {
      margin-bottom: 0;
    }

    iframe {
      width: 100%;
      display: block;
    }
  }

  div.descr {
    flex-grow: 1;
    background: white;

    table {
      width: 100%;
      border-spacing: 0;
      border-collapse: collapse;
      margin: -1px;

      h3, h4 {
        margin: 0;
      }

      h3 {
        font-size: 1.5em;
        margin-bottom: 0.5em;
      }
      td {
        padding: 1em;
        border: 1px solid #ccc;
        vertical-align: top;
      }
      td.logo {
        padding: 10px;
        height: 150px;
        width: 150px;
        text-align: center;
        vertical-align: middle;
        img {
          display: block;
          max-height: 100%;
          max-width: 100%;
        }
      }
      td.tagline {
        padding-bottom: 0.5em;
        border-right: none;
      }
      td.descr {
        padding-top: 0;
        padding-bottom: 0;
        border-right: none;
      }
    }
  }
}

form {
  > div {
    padding: 1em;
    padding-left: $padding_left;
    padding-right: $padding_right;
    clear: both;
    overflow: hidden;
  }

  div.query {
    background: #eee;

    div.input {
      font-size: 0.65em;
      font-weight: bold;
      display: inline-block;
      width: 30em;
      vertical-align: top;
    }
    div.submit {
      float: right;
      width: 15em;
    }
  }

  div.tags {
    columns: 12em auto;
    -moz-columns: 12em auto;
    -webkit-columns: 12em auto;

    ul {
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        padding: 0.25em 0;
        margin: 0;

        label {
          cursor: pointer;
          display: inline;

          input {
            cursor: pointer;
            width: auto;
          }
        }
      }
    }
  }
}

input, select {
  color: $black;
  box-sizing: border-box;
  padding: 0.7em 0.35em;
  margin: 0.25em 0;
  font-size: 1rem;
  font-family: sans;
  width: 90%;
}

option:checked {
  background-color: $orange;
}

input:focus, select:focus {
  outline-color: $orange;
}

input[type=submit] {
  float: right;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 2px;
}