@import url("fonts/font.css");
.slick-arrow {
  border: none;
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  color: transparent;
  cursor: pointer;
  z-index: 1000;
  transform: translate(0, -50%); }

.slick-arrow:focus {
  outline: none !important; }

.slick-prev {
  left: 0;
  background: url("/static/effect/left.png") center/cover no-repeat; }

.slick-next {
  right: 0;
  background: url("/static/effect/right.png") center/cover no-repeat; }

.slick-slide {
  outline: none; }

body {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.25;
  margin: 0;
  padding: 0; }

h1, b, a {
  font-weight: 700; }

h1 {
  margin-top: 0; }

h1.color1 {
  color: #f78b19; }

.orange {
  color: #f78b19; }

.green {
  color: #34b449; }

a {
  color: inherit;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

a.button {
  display: inline-block;
  background: #f78b19;
  color: white;
  font-size: 1.25em;
  padding: 5px 10px;
  text-decoration: none;
  transition: 0.1s; }

.color2 a.button {
  background: white;
  color: #34b449; }

.color3 a.button {
  background: white;
  color: #f78b19; }

a.button:hover {
  transform: scale(1.1); }

header img {
  width: 100%;
  display: block; }

nav.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2000; }

nav {
  position: -webkit-sticky;
  position: sticky;
  z-index: 2000;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  background: white; }
  nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0; }
    nav ul li {
      line-height: 1.5;
      font-size: 1.5em;
      height: 0.75em;
      margin: .25em 0;
      border-right: 4px solid #f78b19;
      padding: 0 1em; }
      nav ul li a {
        position: relative;
        top: -50%;
        text-transform: uppercase;
        text-decoration: none;
        color: #34b449;
        white-space: nowrap; }
    nav ul li:last-child {
      border-right: none; }

section {
  min-height: 2em;
  padding: 0 5%; }

img.icon {
  float: right;
  width: 150px; }

section.normal {
  display: flex; }
  section.normal div {
    flex: 1 1 0;
    margin: 2em; }
    section.normal div img {
      width: 100%; }
  section.normal div.text, section.normal div.image {
    flex-grow: 2; }

section.video {
  display: flex;
  color: white; }
  section.video h1 {
    text-transform: uppercase; }
  section.video div {
    vertical-align: top;
    width: 33%;
    box-sizing: border-box;
    display: inline-block;
    padding: 2em; }
  section.video div.video {
    width: 66%;
    padding: 0; }
    section.video div.video div.iframe {
      border-left: 5px solid white;
      border-right: 5px solid white;
      position: relative;
      width: 100%;
      height: 100%;
      padding-bottom: 56%; }
      section.video div.video div.iframe iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0; }

section.news_large, section.projects {
  position: relative;
  color: #34b449;
  padding: 2em 6em; }
  section.news_large ul, section.projects ul {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0; }
    section.news_large ul li, section.projects ul li {
      display: block;
      padding: 2em;
      height: 500px;
      border-left: 2px solid #f78b19;
      border-right: 2px solid #f78b19; }
      section.news_large ul li h1, section.projects ul li h1 {
        color: #f78b19;
        text-transform: none; }
      section.news_large ul li div.image, section.projects ul li div.image {
        background-color: #34b449;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        padding-top: 58%;
        margin-bottom: 2em; }
  section.news_large ul:before, section.news_large ul:after, section.projects ul:before, section.projects ul:after {
    content: '';
    position: absolute;
    width: 150px;
    top: 0;
    bottom: 0;
    z-index: 500; }
  section.news_large ul:before, section.projects ul:before {
    background: linear-gradient(to right, white, transparent);
    left: 0; }
  section.news_large ul:after, section.projects ul:after {
    background: linear-gradient(to right, transparent, white);
    right: 0; }
  section.news_large img.icon, section.projects img.icon {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1000; }

section.partners ul {
  list-style: none;
  margin: 0;
  padding: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center; }
  section.partners ul li {
    box-sizing: border-box;
    flex: 0 0 25%;
    display: flex;
    padding: 2%;
    justify-content: center;
    flex-direction: column; }
    section.partners ul li img {
      width: 100%; }

section.color1 {
  color: #34b449;
  background: white;
  flex-direction: row-reverse; }

section.color2 {
  color: white;
  background: #f78b19; }

section.color3 {
  color: white;
  background: #34b449; }

footer {
  margin: 2em 0;
  color: #34b449;
  text-align: center; }
  footer div.socialmedia {
    background: #f78b19;
    padding: 1em;
    margin-bottom: 2em; }
    footer div.socialmedia img {
      height: 32px;
      vertical-align: middle;
      margin-left: 2em; }
    footer div.socialmedia a {
      color: white;
      font-size: 1.25em;
      text-decoration: none; }
  footer h1 {
    font-size: 1.5em;
    color: #f78b19; }
  footer .orange {
    color: #f78b19; }

/*# sourceMappingURL=../../../../../../../static/effect/main.css.map */