bleach==1.4.2
certifi==2017.4.17
chardet==3.0.4
Django==1.9.5
django-ckeditor==5.0.3
django-cleanup==0.4.2
django-embed-video==1.1.2
django-extensions==1.7.9
django-html-sanitizer==0.1.5
django-registration==2.0.4
easy-thumbnails==2.3
html5lib==0.9999999
idna==2.5
Pillow==3.2.0
psycopg2==2.6.1
requests==2.17.3
six==1.10.0
urllib3==1.21.1
xlwt==1.1.1
git+https://github.com/JaapJoris/django-numberedmodel.git
