--no-binary :all:

libsass==0.18.0
bleach==2.1.2
certifi==2018.1.18
chardet==3.0.4
confusable-homoglyphs==3.0.0
Django==2.0.2
django-ckeditor==5.4.0
django-cleanup==2.1.0
django-embed-video==1.1.2
django-html-sanitizer==0.1.5
django-js-asset==1.0.0
django-registration==2.4.1
django-sass-processor==0.5.8
easy-thumbnails==2.5
html5lib==1.0.1
idna==2.6
Pillow==5.0.0
pkg-resources==0.0.0
psycopg2==2.8.4
pytz==2017.3
requests==2.18.4
six==1.11.0
urllib3==1.22
webencodings==0.5.1
git+https://github.com/rtts/django-numberedmodel
