Django==1.9.5
Pillow==3.2.0
bleach==1.4.2
django-ckeditor==5.0.3
django-cleanup==0.4.2
django-html-sanitizer==0.1.5
django-registration==2.0.4
django-embed-video==1.1.0
easy-thumbnails==2.3
html5lib==0.9999999
psycopg2==2.6.1
six==1.10.0
xlwt==1.1.1
