li.column {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

li.column ul {
  margin: 8px;
}

textarea {
  height: 6em;
  width: 35em !important;
}

#header {
  background-color: #A24762;
}