div.related-widget-wrapper {
  float: none;
}

div.related-widget-wrapper > ul > li {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}

textarea {
  height: 6em;
  width: 35em !important;
}

#header {
  background-color: #232755;
  color: white !important;
}

#header a {
  color: white !important;
}
