{% extends 'de_locatie/section_base.html' %}
{% load static %}
{% load thumbnail %}

{% block content %}
  <div class="agenda">

    {% regroup agenda by date.year as events_per_year %}

    {% for year, events in events_per_year %}
      <h2>{{year}}</h2>

      {% regroup events by date|date:'F' as events_per_month %}

      {% for month, events in events_per_month %}
        <h3>{{month}}</h3>

        {% for event in events %}
          <div class="event" onclick="window.location='{% url 'event' event.slug %}'" style="cursor:pointer">
            <div class="date">
              <span class="orange">{{event.date|date:'D'}}</span> {{event.date|date:'j M'}}
            </div>

            <div class="image" {% if event.image %}style="background-image: url({% thumbnail event.image 400x400 %})"{% endif %}>
            </div>

            <div class="title">
              {{event.title}}
            </div>

            <div class="time">
              {{event.begin|default:'00.00'}} - {{event.end|default:'24.00'}}
            </div>
          </div>
        {% endfor %}
      {% endfor %}
    {% endfor %}
  </div>

  {% if section.icon %}
    <img class="icon" src="{{section.icon.image.url}}" alt="{{secion.icon.name}}">
  {% endif %}
{% endblock %}
