@import url(https://fonts.googleapis.com/css?family=Oswald:300);
@import url(https://fonts.googleapis.com/css?family=Questrial);
img {
  display: block;
  max-width: 100%; }

a {
  font-weight: bold;
  color: #3c3734; }

h1, h2, h3 {
  font-family: "Oswald", sans-serif;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  line-height: 1.1; }

h1 {
  font-size: 42px;
  letter-spacing: 2px; }

h2 {
  font-size: 30px;
  letter-spacing: 1px;
  margin-top: 7px; }

h3 {
  font-size: 20px; }

hr {
  border: none;
  border-top: 3px solid #3c3734; }

.spacer {
  height: 1em; }

/* BASE LAYOUT * BASE LAYOUT * BASE LAYOUT * BASE LAYOUT */
body {
  font-family: "Times", "Times New Roman", serif;
  background: url(/static/achtergrond.png);
  color: #3c3734;
  padding: 0;
  margin: 0;
  line-height: 1.5;
  word-wrap: break-word;
  hyphens: auto; }

header.homepage img.logo {
  width: 100%;
  border-top: 3px solid #3c3734;
  margin-bottom: 0; }
header.homepage nav {
  width: 100%;
  padding: 10px 0; }
  header.homepage nav img {
    height: 18px; }

div.container {
  padding: 20px;
  max-width: 1000px;
  margin: auto;
  background: white;
  box-shadow: 10px 0px 5px rgba(0, 0, 0, 0.4); }
  @media (max-width: 600px) {
    div.container {
      box-sizing: border-box;
      width: 100%; } }

article {
  padding-top: 20px; }

article.left {
  float: left;
  width: 32%; }

article.right {
  margin-left: 35%; }

article.single {
  margin-left: 25%; }

@media (max-width: 800px) {
  article {
    width: 100% !important;
    float: none !important;
    padding-right: 0 !important;
    margin-left: 0 !important; } }

footer {
  clear: both;
  overflow: hidden;
  padding-top: 40px; }
  footer img {
    display: inline-block;
    vertical-align: top;
    margin-top: -3px; }
  footer div {
    margin-bottom: 10px; }

/* PAGE HEADER * PAGE HEADER * PAGE HEADER * PAGE HEADER */
header {
  text-align: right; }
  header img.logo {
    display: block;
    width: 100%;
    margin-bottom: -5%; }
  header nav {
    display: inline-block;
    position: relative;
    border-top: 3px solid #3c3734;
    border-bottom: 3px solid #3c3734;
    width: 75%;
    box-sizing: border-box;
    padding: 3px 0;
    overflow: hidden; }
    header nav ul {
      margin: 0;
      padding: 0;
      margin-left: -10px;
      list-style: none;
      display: flex;
      flex-wrap: wrap; }
      header nav ul li {
        flex: 1 1 auto;
        margin: 10px 0;
        padding: 0;
        padding-left: 10px;
        padding-right: 5px;
        text-align: center;
        background: url(/static/dot.png) no-repeat center left; }
        header nav ul li img {
          margin: 0 auto;
          max-width: none;
          vertical-align: top;
          height: 14px; }
        header nav ul li a.active img {
          outline: 6px solid #3c3734; }

/* HOMEPAGE * HOMEPAGE * HOMEPAGE * HOMEPAGE * HOMEPAGE */
article.column {
  box-sizing: border-box;
  float: left;
  width: 33%;
  padding-right: 20px;
  padding-top: 10px; }
  article.column section {
    border: 3px solid #3c3734;
    box-sizing: border-box;
    padding: 10px;
    padding-bottom: 5px;
    margin-bottom: 20px; }
    article.column section img {
      max-width: 100%; }
  article.column section.borderless {
    border: none; }

article.column:last-of-type {
  padding-right: 0; }

p.readmore {
  text-align: right;
  margin-bottom: 0; }
  p.readmore img {
    display: inline-block; }

div.aspect-ratio {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 66%; }
  div.aspect-ratio iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0; }

h3.news {
  font-family: "Times", "Times New Roman", serif;
  font-weight: normal; }

/* FORMS * FORMS * FORMS * FORMS * FORMS * FORMS * FORMS * FORMS */
form label {
  text-transform: uppercase; }
form .error > input, form .error > textarea, form .error > select {
  border-color: red !important; }
form .errormessage {
  color: red;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  font-size: 1.25em; }
form ul.errorlist {
  color: red;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  top: 16px; }
  form ul.errorlist li {
    margin: 0;
    padding: 0; }
form input[type=text], form input[type=email], form input[type=password], form input[type=url], form input[type=file], form textarea {
  padding: 4px;
  width: 100%;
  box-sizing: border-box;
  font-size: 1em;
  border: 3px solid #3c3734;
  font-family: "Times", "Times New Roman", serif; }
form select {
  display: block;
  border: 3px solid #3c3734;
  height: 32px;
  font-family: "Times", "Times New Roman", serif;
  font-size: 1em; }
form select[multiple] {
  height: 200px; }
form span.helptext {
  display: none; }
form div.submit {
  clear: right;
  margin-top: 20px;
  border-top: 3px solid #3c3734;
  padding: 20px 0; }
form input[type=submit] {
  border: none;
  background: #3c3734;
  color: white;
  padding: 5px 15px;
  font-size: 1.75em;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer; }
form table {
  width: 100%;
  margin-top: 10px;
  border-spacing: 0; }
  form table th {
    text-transform: uppercase;
    font-weight: normal;
    text-align: left; }
  form table td {
    width: 33%;
    padding: 0;
    padding-right: 5px;
    padding-bottom: 5px; }
  form table td:last-child {
    padding-right: 0; }
form a.delete-row, form a.add-row {
  text-decoration: none;
  color: #3c3734; }
form a.add-row {
  color: white;
  background: #3c3734;
  padding: 4px 10px;
  font-weight: bold;
  font-size: 1em;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  float: right;
  margin-top: 2px;
  position: relative;
  left: -18px; }
form > div > a.delete-row {
  position: absolute;
  top: 4px;
  left: 110px;
  text-decoration: underline;
  font-size: 0.8em; }
form div.speerpunt, form div.idee {
  position: relative; }
form > a.add-row {
  left: 0;
  margin-bottom: 20px; }

/* REGISTRATION PAGE * REGISTRATION PAGE * REGISTRATION PAGE * REGISTRATION PAGE */
ul.steps {
  margin: 6px 0;
  margin-bottom: 40px;
  padding: 0;
  list-style: none;
  display: flex;
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  color: gray;
  position: relative;
  left: -10px; }
  ul.steps a {
    text-decoration: none;
    color: #3c3734; }
  ul.steps li {
    margin-right: 20px;
    padding: 3px 10px; }
  ul.steps li.current {
    outline: 3px solid #3c3734; }

ul.messages {
  margin: 0;
  padding: 0; }
  ul.messages li {
    padding: 5px 1em;
    color: white;
    font-size: 1.25em;
    display: block;
    background: #68CF44; }

ol.explanation {
  list-style: none;
  margin: 10px 0;
  padding: 0; }
  ol.explanation > li {
    counter-increment: item;
    margin: 0;
    padding: 10px;
    padding-left: 40px;
    border: 3px solid #3c3734;
    position: relative; }
  ol.explanation > li:before {
    margin-right: 10px;
    content: counter(item);
    font-size: 1.5em;
    font-weight: bold;
    font-family: "Oswald", sans-serif;
    display: block;
    position: absolute;
    top: 5px;
    left: 10px; }

/* PROJECTS PAGE * PROJECTS PAGE * PROJECTS PAGE * PROJECTS PAGE */
div.contactform {
  border: 3px solid #3c3734;
  padding: 15px;
  margin-bottom: 1em; }

table.projects {
  width: 100%;
  border-spacing: 0;
  margin-top: 15px; }
  table.projects td {
    vertical-align: top;
    padding-left: 2em;
    padding-bottom: 2em; }
  table.projects td:first-child {
    padding-left: 0;
    width: 150px; }
  table.projects img {
    filter: gray;
    /* IE6-9 */
    filter: grayscale(1);
    /* Microsoft Edge and Firefox 35+ */
    -webkit-filter: grayscale(1);
    /* Google Chrome, Safari 6+ & Opera 15+ */ }
  table.projects img:hover {
    filter: none;
    -webkit-filter: none; }

/* ABOUT PAGE * ABOUT PAGE * ABOUT PAGE * ABOUT PAGE */
section.border {
  border: 3px solid #3c3734;
  padding: 5px 15px;
  margin: 10px 0; }

section.left, section.right {
  box-sizing: border-box;
  padding: 15px; }

section.left {
  float: left;
  width: 50%; }

section.right {
  margin-left: 50%; }

@media (max-width: 800px) {
  section.left, section.right {
    width: 100%;
    float: none;
    margin-left: 0; } }

/* GALLERY PAGE * GALLERY PAGE * GALLERY PAGE * GALLERY PAGE */
div.inverted {
  padding: 8px;
  background: #3c3734;
  color: white; }
  div.inverted h2 {
    margin: 0; }

div.gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  div.gallery div.burgermeester {
    border: 3px solid #3c3734;
    box-sizing: border-box;
    margin-bottom: 10px;
    display: inline-block;
    width: 32%;
    position: relative; }
    div.gallery div.burgermeester div.number {
      font-family: 'Questrial', sans-serif;
      font-weight: bold;
      font-size: 2em;
      letter-spacing: 2px;
      background: white;
      color: #3c3734;
      border: 3px solid #3c3734;
      overflow: hidden;
      height: 40px;
      padding: 0 5px;
      position: absolute;
      top: 5px;
      left: 5px;
      z-index: 1000; }
    div.gallery div.burgermeester div.photo {
      background-size: cover;
      background-position: center;
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: 133%; }
    div.gallery div.burgermeester div.details {
      padding: 10px;
      font-size: 12px; }
      div.gallery div.burgermeester div.details h3 {
        font-size: 12px; }
      div.gallery div.burgermeester div.details h2 {
        font-size: 14px;
        text-transform: none;
        margin-bottom: 14px; }
      div.gallery div.burgermeester div.details p {
        margin-top: 0; }
      div.gallery div.burgermeester div.details p.readmore img {
        height: 14px; }

/*# sourceMappingURL=main.css.map */
