@font-face {
  font-family: Arvil;
  src: url("arvil_sans-webfont.woff2") format("woff2"), url("arvil_sans-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: Lato;
  src: url("Lato.woff") format("woff"), url("Lato.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

body, html {
  margin: 0;
  padding: 0;
  font: 16px Lato, sans-serif; }

body {
  background: url("tile.jpg"); }

h1, h2, h3, h4, h5, h6 {
  font-family: Arvil;
  font-weight: normal;
  font-size: 34px;
  margin: 0;
  padding: 0; }

.header_container {
  background: #040707; }

header, nav, main, footer {
  max-width: 1200px;
  margin: auto; }

header {
  height: 70px;
  display: flex; }
  header div.filters {
    flex: 1 1 0; }
    header div.filters ul {
      list-style: none;
      margin: 0 70px;
      padding: 0;
      display: flex; }
      header div.filters ul li {
        flex: 1 1 0;
        background: white;
        height: 44px;
        margin: 13px 1px;
        padding: 4px 8px;
        box-sizing: border-box; }
        header div.filters ul li a {
          display: block;
          font: 34px Arvil;
          color: #040707;
          text-decoration: none;
          text-transform: uppercase; }
      header div.filters ul li.active.color1 {
        background-color: #b9debb; }
      header div.filters ul li.active.color2 {
        background-color: #f8aa53; }
      header div.filters ul li.active.color3 {
        background-color: #eaec8e; }
      header div.filters ul li.active.color4 {
        background-color: #f59eb3; }
      header div.filters ul li.active.color5 {
        background-color: #b694c5; }
      header div.filters ul li.active.color6 {
        background-color: #90c0e8; }
      header div.filters ul li.active.color7 {
        background-color: #1dbcbc; }
      header div.filters ul li.active.color8 {
        background-color: #d1d3d4; }
      header div.filters ul li.active.color9 {
        background-color: #f37468; }
      header div.filters ul li.active.color10 {
        background-color: #b68662; }
  header div.menu {
    padding: 13px; }
    header div.menu img {
      outline: 1px solid white; }

nav.color1 {
  border-color: #b9debb; }

nav.color2 {
  border-color: #f8aa53; }

nav.color3 {
  border-color: #eaec8e; }

nav.color4 {
  border-color: #f59eb3; }

nav.color5 {
  border-color: #b694c5; }

nav.color6 {
  border-color: #90c0e8; }

nav.color7 {
  border-color: #1dbcbc; }

nav.color8 {
  border-color: #d1d3d4; }

nav.color9 {
  border-color: #f37468; }

nav.color10 {
  border-color: #b68662; }

nav {
  background: white;
  border: 6px solid #aaa;
  border-top: none;
  box-sizing: border-box; }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between; }
    nav ul li {
      flex: 1 1 0;
      margin: 0;
      overflow: hidden; }
      nav ul li a {
        height: 150px;
        padding-top: 15px;
        box-sizing: border-box;
        text-align: center;
        display: block;
        font: 34px Arvil;
        color: #040707;
        text-decoration: none;
        text-transform: uppercase;
        white-space: nowrap; }
        nav ul li a img {
          width: 70px;
          height: 70px; }

main {
  margin-top: 18px; }
  main div.program {
    float: left;
    margin: 1px;
    vertical-align: top;
    width: 238px; }
    main div.program div.image img {
      display: block;
      width: 100%; }
    main div.program div.text {
      border: 6px solid #b9debb;
      border-top: none;
      background: white;
      overflow: hidden;
      padding: 10px; }
  main div.program.color1 div.text {
    border-color: #b9debb; }
  main div.program.color2 div.text {
    border-color: #f8aa53; }
  main div.program.color3 div.text {
    border-color: #eaec8e; }
  main div.program.color4 div.text {
    border-color: #f59eb3; }
  main div.program.color5 div.text {
    border-color: #b694c5; }
  main div.program.color6 div.text {
    border-color: #90c0e8; }
  main div.program.color7 div.text {
    border-color: #1dbcbc; }
  main div.program.color8 div.text {
    border-color: #d1d3d4; }
  main div.program.color9 div.text {
    border-color: #f37468; }
  main div.program.color10 div.text {
    border-color: #b68662; }

footer {
  clear: both;
  height: 200px; }

/*# sourceMappingURL=../../../../../../../static/rauwkost/main2.css.map */