/* Variables */

$black: #040707;
$color0: #aaa;
$colors: #b9debb, #f8aa53, #eaec8e, #f59eb3, #b694c5, #90c0e8, #1dbcbc, #d1d3d4, #f37468, #b68662;
$purple: #bd6ad7;
$purple: #f00;
$mini: 410px;
$small: 600px;
$medium: 800px;
$large: 1200px;

a, button {
  cursor: url('cursor-06.png') 11 22, pointer;
}

/* Fonts */

@font-face {
  font-family: Arvil;
  src: url('arvil_sans-webfont.woff2') format('woff2'),
       url('arvil_sans-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Lato;
  src: url('Lato.woff') format('woff'),
       url('Lato.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

$headings: 34px Arvil;

/* General styling */

body, html {
  margin: 0;
  padding: 0;
  font: 16px Lato, sans-serif;
  color: $black;
  min-height: 100vh;
  box-sizing: border-box;
}

body {
  background: $black;
}
body.overlay {
  position: fixed;
  width: 100vw;
}

div.spacer {
  height: 18px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Arvil;
  font-weight: normal;
  font-size: 34px;
  margin: 0;
  padding: 0;
}

div.video {
  div.iframe {
    position: relative;
    width: 100%;
    padding-bottom: 56%;

    iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }
  }
}

/* Hyperlinks and buttons */

button.wood, a.wood {
  height: 50px;
  vertical-align: top;
  display: inline-block !important;
  text-decoration: none;
  border: none;
  box-sizing: border-box;
  //background-color: $purple;
  background-image: url(arrow.svg);
  background-size: auto 50px;
  background-position: top right;
  background-repeat: no-repeat;
  padding: 6px 35px 0 10px;
  font-family: Arvil;
  font-weight: normal;
  font-size: 34px;
  text-transform: uppercase;
  box-shadow: 3px 3px 0 $black;

  span {
    // https://stackoverflow.com/questions/15764600/what-makes-the-text-on-a-button-element-vertically-centered
    display: block;
    height: inherit;
  }

  &:hover {
    position: relative;
    top: 3px;
    left: 3px;
    box-shadow: none;
  }

  &.small {
    height: auto;
    font-size: 24px;
    background-size: auto 34px;
    padding: 4px 26px 3px 10px;
  }
}

a {
  font-weight: bold;
  color: $black;
}

a.arrow.button {
  position: relative;
  text-decoration: none;
}
a.arrow.button:hover {
  text-decoration: underline;
}
a.arrow.button:after {
  content: '';
  border-left: 10px solid $black;
  border-top: 10px solid rgba(255,255,255,0);
  border-bottom: 10px solid rgba(255,255,255,0);
  position: absolute;
  right: -18px;
  bottom: 0;
}
@for $i from 1 through length($colors) {
  a.arrow.button.color#{$i}:after { border-left-color: nth($colors, $i) }
}

a.circle.button.back {
  span:after {
    border-right: 10px solid $black;
    border-left: none;
    right: auto;
    left: -18px;
  }
}
a.circle.button {
  $circ: 70px;
  position: relative;
  top: 10px;
  display: block;
  margin-bottom: 40px;
  height: $circ;
  width: $circ;
  border-radius: $circ;
  background: $color0;

  span {
    position: absolute;
    top: 10px;
    left: 35px;
    z-index: 1000;
    font: $headings;
    color: $black;
    text-decoration: none;
    white-space: nowrap;
  }
  span:after {
    content: '';
    border-left: 10px solid $black;
    border-top: 10px solid rgba(255,255,255,0);
    border-bottom: 10px solid rgba(255,255,255,0);
    position: absolute;
    right: -18px;
    bottom: 8px;
  }
}
a.circle.button:before, a.circle.button:after {
  $circ: 40px;
  content: '';
  position: absolute;
  left: 45px;
  top: -10px;
  height: $circ;
  width: $circ;
  border-radius: $circ;
  background: $color0;
}
a.circle.button:after {
  $circ: 90px;
  content: '';
  left: 65px;
  top: -15px;
  height: $circ;
  width: $circ;
  border-radius: $circ;
}
@for $i from 1 through length($colors) {
  a.circle.button.color#{$i} { background: nth($colors, $i) }
  a.circle.button.color#{$i}:before { background: nth($colors, $i) }
  a.circle.button.color#{$i}:after { background: nth($colors, $i) }
}

/* Containers */

#header {
  display: block;
  width: 100%;
}

.header_container, .footer_container {
  background: $black;
}

.main_container {
  overflow: hidden;
  background-color: white;
  background-image: url('color8.png');
  padding-bottom: 100px;
  padding-left: 15px;
  padding-right: 15px;
  @media(max-width: $medium) { padding-bottom: 85px }
  @media(max-width: $small) { padding-bottom: 70px }
}

@for $i from 1 through length($colors) {
  .main_container.color#{$i} {
    background-image: url('color#{$i}.png');
  }
}

header, nav, main, footer {
  max-width: 1200px;
  margin: auto;
}

footer {
  clear: both;
  box-sizing: border-box;
  position: relative;
  color: white;
  padding: 2em;
  text-align: center;
  font-size: 1.25em;

  a {
    color: white;
    text-decoration: underline;
  }

  div.images {
    position: absolute;
    top: -80px;
    @media(max-width: $medium) { top: -65px }
    @media(max-width: $small) { top: -50px }
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;

    div {
      height: 70px;
      @media(max-width: $medium) { height: 55px }
      @media(max-width: $small) { height: 40px }
      img {
        height: 100%;
      }
    }
  }
  div.columns {
    margin: 1em;
    display: flex;
    justify-content: space-between;
    @media(max-width: $small) { display: block }
    div {
      overflow: hidden;
      width: 48%;
      margin-bottom: 1em;
      @media(max-width: $small) {
        width: 100%;
        text-align: left !important;
      }
    }
    div.left {
      text-align: right;
    }
    div.right {
      text-align: left;
    }
  }
}

div.icons {
  text-align: center;
  margin-bottom: 4em;
  h2 {
    color: white;
    font-size: 22px;
  }
  div {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;

    a {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}


/* Header */

div.consent {
  background-color: $color0;
  padding: 5px;
  margin-bottom: -24px;
  line-height: 1.5;
  overflow: hidden;
  text-align: center;

  button {
    margin-left: 10px;
    transform: scale(0.5);
    transform-origin: top;
    margin-left: -50px;
    margin-right: -50px;
  }
}

header {
  height: 50px;
  display: flex;

  div.logo, div.main_logo {
    margin-left: 5px;
    img {
      height: 50px;
    }
  }

  div.mobile_logo {
    display: none;
    margin: 5px;
    img {
      height: 40px;
    }
  }

  @media(max-width: $small) {
    height: 50px;

    div.logo {
      display: none;
    }
    div.mobile_logo {
      display: block;
    }
  }

  div.filters {
    flex: 1 1 0;

    ul {
      list-style: none;
      margin: 0 calc(8% + 60px) 0 8%;
      padding: 0;
      display: flex;

      @media(max-width: $medium) { margin: 0 70px 0 1% }
      @media(max-width: $small) { margin: 0 40px 0 1% }

      li {
        flex: 1 1 0;
        background: white;
        height: 40px;
        margin: 5px 1px;
        padding: 4px 8px;
        box-sizing: border-box;
        position: relative;

        @media(max-width: $small) {
          margin: 7px 1px;
          height: 34px;
        }

        a {
          display: block;
          font: $headings;
          font-size: 30px;
          color: $black;
          text-decoration: none;
          text-transform: uppercase;
          white-space: nowrap;

          @media(max-width: $small) { font-size: 25px }
          span {
            @media(max-width: $medium) { display: none }
          }
        }
      }
      li.active { background-color: $color0 }
      li.active:after { border-top-color: $color0 }
      @for $i from 1 through length($colors) {
        li.active.color#{$i} { background-color: nth($colors, $i) }
        li.active.color#{$i}:after { border-top-color: nth($colors, $i) }
      }
      li.active:after {
        content: '';
        border-top: 10px solid $color0;
        border-left: 10px solid rgba(255,255,255,0);
        border-right: 10px solid rgba(255,255,255,0);
        position: absolute;
        right: 0;
        bottom: -10px;

        @media(max-width: $medium) {
          border-width: 9px;
          bottom: -9px;
        }
      }
    }
  }

  div.menu {
    position: relative;

    @media(max-width: $small) {
      padding: 8px;
    }

    img {
      outline: 1px solid white;
      cursor: url('cursor-06.png') 11 22, pointer;

      @media(max-width: $small) {
        height: 34px;
      }
    }

    .hamburger-inner, .hamburger-inner:before, .hamburger-inner:after {
      background-color: white !important;
    }

    .hamburger:focus {
      outline: none !important;
    }

    .hamburger {
      transform: scale(0.7);
      position: absolute;
      top: -4px;
      right: 0;
      background: $black !important;
      z-index: 10001;
      //border: 1px solid white;
      cursor: url('cursor-06.png') 11 22, pointer;

      @media(max-width: $small) {
        transform: scale(0.5);
        top: -5px;
        right: -6px;
      }
    }

    .hamburger:hover {
      opacity: 1 !important;
    }
  }
}

/* Hamburger menu */

ul.menu {
  position: fixed;
  z-index: 10000;
  margin: 0;
  padding: 0;
  padding-top: 2em;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  list-style: none;
  overflow-y: auto;

  li {
    padding: 1em;
    margin: 0 1em;
    border-bottom: 1px solid #ddd;
    line-height: 1.5;
    text-align: center;

    a {
      color: $black;
      font: $headings;
      text-decoration: none;
      font-size: 34px;
    }
  }
  transition: .5s ease;
  transform: translatex(100%);
}
ul.menu.visible {
  transform: translatex(0);
}

/* Filter list */

@for $i from 1 through length($colors) {
  nav.color#{$i} { border-color: nth($colors, $i) }
}

nav {
  background: white;
  border: 6px solid #aaa;
  border-top: none;
  box-sizing: border-box;
  margin-bottom: 18px;

  ul.type_filter {
    li {
      width: 16.66%;

      a {
        padding-top: 35px;
        @media(max-width: $medium) { padding-top: 20px }
        img {
          width: 40px;
          height: 40px;
        }
      }
    }
  }

  ul.time_filter {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;

    li {
      width: 100px;
      flex-shrink: 0;

      a {
        height: 110px;
        padding-top: 32px;

        span {
          font-size: 42px;
        }
      }
    }
    li.current > a > span {
      display: inline-block;
      transform: scale(1.5);
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    li {
      width: 12.5%;
      float: left;
      margin: 0;
      padding: 0;
      @media(max-width: $medium) { width: 25% }
      @media(max-width: $small) { width: 33.33333% }

      a {
        height: 160px;
        padding-top: 15px;
        box-sizing: border-box;
        text-align: center;
        display: block;
        text-decoration: none;

        @media(max-width: $medium) {
            height: 120px;
        }

        img {
          width: 100px;
          height: 100px;

          @media(max-width: $medium) {
            width: 75px;
            height: 75px;
          }
        }

        span {
          margin-left: -100%;
          margin-right: -100%;
          text-align: center;
          font: $headings;
          font-size: 28px;
          color: $black;
          text-transform: uppercase;
          white-space: nowrap;

          @media(max-width: $medium) {
            font-size: 22px;
          }
        }
      }
    }
    li.current { background: $color0 }
    @media(hover: hover) {
      li:hover { background: $color0 }
    }

    @for $i from 1 through length($colors) {
      li.color#{$i}.current, li.color#{$i}:hover { background: nth($colors ,$i) }
    }
  }
}

div.daypicker {
  text-align: center;
  margin-bottom: 18px;

  a {
    font-size: 1.5em;
    text-decoration: none;
    font-weight: normal;
    display: inline-block;
    margin: 10px;
  }
  a.active, a:hover {
    font-weight: bold;
    text-decoration: underline;
  }
}

/* Main layout */

main {
  min-height: 100px;

  div.news {
    div.text {
      h3 {
        margin-bottom: 7px;
      }

      h2 {
        display: inline;
        line-height: 1.25;
        padding: 0px 5px;
        box-decoration-break: clone;
        -webkit-box-decoration-break: clone;
        background: $black;
        color: white;
      }
    }
  }

  div.program_container {
    float: left;
    vertical-align: top;
    width: 20%;
    padding: 2px;
    box-sizing: border-box;

    @media(max-width: 1200px) { width: 25% }
    @media(max-width: 1000px) { width: 33.33% }
    @media(max-width: 800px) { width: 50% }
    @media(max-width: 600px) { width: 100% }

    div.program {
      cursor: url('cursor-06.png') 11 22, pointer;

      div.image img {
        display: block;
        width: 100%;
      }

      div.circles {
        position: relative;

        @for $i from 1 through length($colors) {
          div.color#{$i} { background: nth($colors, $i) }
        }

        div {
          $circ: 70px;
          width: $circ;
          height: $circ;
          border-radius: $circ;
          position: absolute;
          right: 0;
          top: -0.7 * $circ;
          text-align: center;

          img, span {
            display: inline-block;
            position: absolute;
            box-sizing: border-box;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            width: ($circ / 1.41);
            height: ($circ / 1.41);
          }

          span {
            top: 5px;
            font: $headings;
            font-size: 26px;
          }
        }

        div.type {
          $circ: 40px;
          width: $circ;
          height: $circ;
          border-radius: $circ;
          top: -0.8 * $circ;
          right: 64px;

          img, span {
            width: ($circ / 1.41);
            height: ($circ / 1.41);
          }
        }
        div.time {
          $circ: 50px;
          width: (2 * $circ);
          height: $circ;
          border-radius: $circ;
          top: -0.6 * $circ;
          right: 100px;

          img, span {
            white-space: nowrap;
            width: 2 * ($circ / 1.41) + 10;
            height: ($circ / 1.41);
          }
        }
      }

      div.text {
        border: 6px solid $color0;
        border-top: none;
        background: white;
        overflow: hidden;
        padding: 10px;
        padding-top: 30px;
      }
    }

    @for $i from 1 through length($colors) {
      div.program.color#{$i} {
        div.text {
          border-color: nth($colors, $i);
        }
      }
    }
  }
}

/* Section Types */

section.normal {
  overflow: hidden;
  background: white;
  margin: 2em auto;
  padding: 20px;
  border: 6px solid $color0;
  clear: both;
  box-sizing: border-box;

  div.image, div.video {
    width: 50%;
    margin-right: 15px;
    float: left;
    margin-bottom: 20px;
    @media(max-width: $medium) { width: 100%; float: none; }

    img {
      width: 100%;
    }
  }
  div.text {
  }
}

section.homepage {
  border: none;
  background: transparent;
  position: relative;
  display: flex;
  @media(max-width: $small) { display: block }
  justify-content: center;
  flex-direction: row-reverse;
  overflow: visible;
  max-width: 940px;
  margin: auto;

  div.tv {
    padding: 20px 30px;
    padding-top: 50px;
    text-align: center;
    @media(max-width: $small) { padding-top: 0 }
    img {
      //display: block;
      width: 200px;
    }
  }

  div.shifted {
    padding: 50px 0;

    h1 {
      font-size: 100px;
      background: $black;
      color: white;
      margin: 10px 0;
      padding: 0 20px;
      box-decoration-break: clone;
      -webkit-box-decoration-break: clone;
      line-height: 1.25;
      display: inline;
      vertical-align: top;
      margin-right: 10px;
    }

    a.wood {
      transform: scale(1.25);
      transform-origin: top left;
      margin-top: 9px;
    }
  }

  @media(max-width: $medium) {
    div.shifted {
      h1 {
        font-size: 70px;
        padding: 0 10px;
      }
      a.wood {
        transform: scale(1.1);
        margin-top: 6px;;
        &:hover {
          transform: scale(1.1) translate(3px, 3px);
        }
      }
    }
  }
  @media(max-width: $small) {
    div.shifted {
      h1 {
        font-size: 60px;
        padding: 0 5px;
      }
      a.wood {
        display: block;
        transform: none;
        &:hover {
          transform: translate(3px, 3px);
        }
      }
    }
  }
}

section.photo {
  max-width: 800px;
  margin: auto;

  img {
    display: block;
    width: 100%;
  }
}

/* Detail pages */

article.program_detail {
  padding-top: 1px;

  section {
    margin: 2em auto;
    max-width: 600px;
    background: white;
    border: 6px solid $color0;
    clear: both;
    box-sizing: border-box;
  }

  section.title {
    text-align: center;
    border: none;
    background: none;

    h1 {
      font-size: 80px;
      background: $black;
      color: white;
      margin: 10px 0;
      padding: 0 10px;
      box-decoration-break: clone;
      -webkit-box-decoration-break: clone;
      line-height: 1.25;
      display: inline;
      vertical-align: top;
    }

    div.image {
      display: inline-block;
      width: 600px;
      max-width: 100%;

      div {
        width: 100%;
        position: relative;
        padding-bottom: 66.66666%;
        mask: url(frame.svg);
        -webkit-mask: url(frame.svg);
        mask-size: 100% 100%;
        -webkit-mask-size: 100% 100%;
        margin-top: 1.5em;

        img {
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit: cover;
          left: 0;
          top: 0;
        }
      }
    }
  }

  section.info {
    background: none;
    border: none;
    overflow: hidden;
    max-width: none;

    div.tags {
      text-align: center;
      a {
        text-decoration: none;
        display: inline-block;
        margin-bottom: 1em;
        margin-right: 5px;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    dl {
      font-family: Arvil;
      font-weight: normal;
      font-size: 34px;
      margin: 0;
      padding: 0;
      text-align: center;

      span {
        padding: 0 5px;
      }
      dt, dd {
        display: inline-block;
        margin: 5px 0;
        padding: 0;
        text-align: left;
        box-sizing: border-box;
        vertical-align: top;
        @media(max-width: $medium) { width: calc(50% - 10px) }
        &:nth-child(even) { margin-right: 10px }
      }

      dt {
        text-align: right;
        span {
          background: $black;
          color: white;
          box-decoration-break: clone;
          -webkit-box-decoration-break: clone;
        }
      }
      dd span {
        background: white;
      }
    }
  }

  section.description {
    padding: 0 1em;
  }

  section.video, section.button {
    border: none;
    max-width: 600px;
    background: none;
    text-align: center;
  }

  section.location {
    margin-top: 80px;
    padding: 2em;
    padding-top: 4em;
    position: relative;

    h2 {
      text-align: center;
    }

    h1 {
      text-align: center;
      position: absolute;
      left: 0;
      right: 0;
      top: -35px;

      span {
        font-size: 55px;
        background: $black;
        color: white;
        margin: 10px 0;
        padding: 0 10px;
        box-decoration-break: clone;
        -webkit-box-decoration-break: clone;
        line-height: 1.25;
        display: inline;
        vertical-align: top;
      }
      img {
        width: 82px;
        height: 82px;
        position: relative;
        top: -20px;
        margin: 0 1em;
        margin-right: 0.5em;
        padding: 10px;
        object-fit: contain;
        @media(max-width: $medium) { display: none; }
      }
      img:last-child {
        width: 70px;
        height: 70px;
        border: 6px solid $color0;
        background: white;
        @for $i from 1 through length($colors) {
          &.color#{$i} { border-color: nth($colors, $i) }
        }
      }
    }

    img {
      width: 100%;
    }
  }

  section.directions {
    position: relative;
    margin-top: 80px;

    h1 {
      text-align: center;
      position: absolute;
      left: 0;
      right: 0;
      top: -35px;

      span {
        font-size: 55px;
        background: $black;
        color: white;
        margin: 10px 0;
        padding: 0 10px;
        box-decoration-break: clone;
        -webkit-box-decoration-break: clone;
        line-height: 1.25;
        display: inline;
        vertical-align: top;
      }
    }

    img {
      display: block;
      width: 100%;
    }
  }


  @for $i from 1 through length($colors) {
    &.color#{$i} > section { border-color: nth($colors, $i) }
  }
}

article.team {
  section {
    margin: 2em auto;
    max-width: 800px;
    clear: both;
    box-sizing: border-box;
    border: none;
  }
  section.title {
    text-align: left;
  }
  section.team {
    position: relative;
    margin-top: 100px;
    padding-top: 50px;

    h1 {
      text-align: center;
      position: absolute;
      left: 0;
      right: 0;
      top: -35px;

      span {
        font-size: 55px;
        background: $black;
        color: white;
        margin: 10px 0;
        padding: 0 10px;
        box-decoration-break: clone;
        -webkit-box-decoration-break: clone;
        line-height: 1.25;
        display: inline;
        vertical-align: top;
      }
    }

    div.members {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      div.member {
        width: 33%;
        height: 200px;
        padding: 10px;
        box-sizing: border-box;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        img.bw {
          display: none;
        }
        &:hover img.color {
          display: none;
        }
        &:hover img.bw {
          display: block;
        }
      }
    }
  }
}
