$black: #040707;
$color1: pink;

@font-face {
  font-family: Arvil;
  src: url('arvil_sans-webfont.woff2') format('woff2'),
       url('arvil_sans-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$headings: 34px Arvil;

body, html {
  margin: 0;
  padding: 0;
}

body {
  background: url('tile.jpg');
}

.header_container {
  background: $black;
}

header, nav, main, footer {
  max-width: 960px;
  margin: auto;
}

header {
  height: 70px;
  display: flex;

  div.filters {
    flex: 1 1 0;

    ul {
      list-style: none;
      margin: 0 70px;
      padding: 0;
      display: flex;

      li {
        flex: 1 1 0;
        background: white;
        height: 44px;
        margin: 13px 1px;
        padding: 4px 8px;
        box-sizing: border-box;

        a {
          display: block;
          font: $headings;
          color: $black;
          text-decoration: none;
          text-transform: uppercase;
        }
      }
      li.active {
        background: $color1;
      }
    }
  }
  div.menu {
    padding: 13px;

    img {
      outline: 1px solid white;
    }
  }
}

nav {
  background: white;
  border: 6px solid $color1;
  border-top: none;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;

    li {
      flex: 1 1 0;
      margin: 0;

      a {
        height: 150px;
        padding: 15px;
        box-sizing: border-box;
        text-align: center;
        display: block;
        font: $headings;
        color: $black;
        text-decoration: none;
        text-transform: uppercase;

        img {
          width: 70px;
          height: 70px;
        }
      }
    }
  }
}
