{% extends 'base_with_sidebar.html' %}
{% load static %}

{% block sidebar %}
{% include 'uitleg.html' %}
{% endblock %}

{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<h2>Mijn netwerk</h2>
<form method="POST">
  {% csrf_token %}
  {% if form.errors or deelnemer_formset.errors %}
  <div class="errormessage">
    Oeps! Niet alle velden zijn goed ingevuld. Herstel a.u.b. de fouten hieronder:
  </div>
  {% endif %}
  <table>
    <tr>
      <td{% if form.voornaam.errors %} class="error"{% endif %}>
        {{form.voornaam.label_tag}}{{form.voornaam}}
      </td>
      <td{% if form.achternaam.errors %} class="error"{% endif %}>
        {{form.achternaam.label_tag}}{{form.achternaam}}
      </td>
    </tr>
  </table>
  <p{% if form.naam.errors %} class="error"{% endif %}>
    {{form.naam.label_tag}}{{form.naam}}
  </p>
  <table>
    <tr>
      <td{% if form.datum.errors %} class="error"{% endif %}>
        {{form.datum.label_tag}}{{form.datum}}
      </td>
      <td{% if form.tijd.errors %} class="error"{% endif %}>
        {{form.tijd.label_tag}}{{form.tijd}}
      </td>
    </tr>
  </table>
  <p{% if form.locatie.errors %} class="error"{% endif %}>
    {{form.locatie.label_tag}}{{form.locatie}}
  </p>
  <p{% if form.adres.errors %} class="error"{% endif %}>
    {{form.adres.label_tag}}{{form.adres}}
  </p>
  <p{% if form.besloten.errors %} class="error"{% endif %}>
    {{form.besloten}}{{form.besloten.label_tag}}
  </p>

  <div class="spacer"></div>
  <h2>Deelnemers</h2>
  {{deelnemer_formset.management_form}}
  <table>
    <tr>
      <th>Voornaam</th><th>Achternaam</th><th>Email</th><th>Type</th>
    </tr>
    {% for form in deelnemer_formset %}
    <tr class="deelnemer">
      <td{% if form.voornaam.errors %} class="error"{% endif %}>
        {{form.voornaam}}
      </td>
      <td{% if form.achternaam.errors %} class="error"{% endif %}>
        {{form.achternaam}}
      </td>
      <td{% if form.email.errors %} class="error"{% endif %}>
        {{form.email}}
      </td>
      <td{% if form.taak.errors %} class="error"{% endif %}>
        {{form.taak}}
      </td>
      <td></td>
    </tr>
    {% endfor %}
  </table>
  <div class="spacer"></div>
  <div class="spacer"></div>
  <input type="submit" value="Opslaan">
</form>

{% endblock %}

{% block extrascript %}
<script src="{% static 'jquery.formset.js' %}"></script>
<script>
  $(function (){
    $(".datefield").datepicker({
      dateFormat: "dd-mm-yy"
    });
    $('tr.deelnemer').formset({
      prefix: '{{deelnemer_formset.prefix}}',
      formCssClass: 'dynamic-formset1',
      deleteText: '❌',
      addText: 'Voeg deelnemer toe',
    });
});
</script>
{% endblock %}
