{% extends 'base_with_sidebar.html' %}
{% load static %}

{% block sidebar %}

<img src="{% static 'aanmelden.png' %}" class="pagetitle">

<p>
  Te gek dat je met jouw netwerk mee wilt gaan bouwen aan de toekomst van onze stad! We hebben je een mailtje gestuurd met de gegevens die we tot nu toe hebben ontvangen en een toolkit met handige hulpmiddelen voor het organiseren van jouw bijeenkomst. Je kunt de toolkit ook <a href="{% static 'toolkit.pdf' %}">direct downloaden</a>.
</p>
<p>
  In deze stap kun je tijdens of na de bijeenkomst de uitkomsten vastleggen. Nadat we de uitkomsten hebben ontvangen verschijnt jullie BurgeRmeester op de website!
</p>

{% if form.foto.value %}
<h2>Huidige foto</h2>
<p>
  <img class="grayscale" src="{{form.foto.value.url}}">
</p>
{% endif %}

{% endblock %}

{% block content %}

{% include 'steps.html' %}

<form enctype="multipart/form-data" method="POST">{% csrf_token %}
  <h2>Onze BurgeRmeester</h2>

  {% if form.errors or speerpunt_forms.errors %}
  <div class="errormessage">
    Oeps! Niet alle velden zijn goed ingevuld. Herstel a.u.b. de fouten hieronder:
  </div>
  {% endif %}

  {% for field in form %}
  {% include 'formfield.html' %}
  {% endfor %}

  <h2>De speerpunten van onze BurgeRmeester</h2>

  {{speerpunt_forms.management_form}}
  {% for form in speerpunt_forms %}
  <div class="speerpunt subform">
    <h3>Speerpunt #<span class='speerpunt_nr'>1</span></h3>
    {% for field in form %}
    {% include 'formfield.html' %}
    {% endfor %}
  </div>
  {% endfor %}

  <div class="submit">
    <input type="submit" value="Opslaan en naar de volgende stap">
  </div>
</form>

{% endblock %}

{% block extrascript %}
<script src="{% static 'jquery.formset.js' %}"></script>
<script>
  $(function (){
    $('.speerpunt_nr').each(function(index, value) {
      $(value).html(index + 1);
    });

    $('.speerpunt').formset({
      prefix: '{{speerpunt_forms.prefix}}',
      formCssClass: 'dynamic-formset1',
      deleteText: 'verwijderen',
      addText: 'Voeg nog een speerpunt toe',
      added: function() {
        $('.speerpunt_nr').each(function(index, value) {
          $(value).html(index + 1);
        });
      },
      removed: function() {
        $('.speerpunt_nr').each(function(index, value) {
          $(value).html(index + 1);
        });
      },
    });
});
</script>
{% endblock %}
