{% extends 'base_with_sidebar.html' %}
{% load static %}

{% block sidebar %}
{% include 'uitleg.html' %}
{% endblock %}

{% block content %}

{% include 'steps.html' %}

<h2>Onze BurgeRmeester</h2>

<form enctype="multipart/form-data" method="POST">
  {% csrf_token %}

  {% if form.errors or speerpunt_forms.errors %}
  <div class="errormessage">
    Oeps! Niet alle velden zijn goed ingevuld. Herstel a.u.b. de fouten hieronder:
  </div>
  {% endif %}

  <p{% if form.naam.errors %} class="error"{% endif %}>
    {{form.naam.label_tag}}{{form.naam}}
  </p>
  {% if form.foto.value %}
  <img src="{{form.foto.value.url}}" width="300">
  {% endif %}
  <p{% if form.foto.errors %} class="error"{% endif %}>
    {{form.foto.label_tag}}{{form.foto}}
  </p>
  <p{% if form.beschrijving.errors %} class="error"{% endif %}>
    {{form.beschrijving.label_tag}}{{form.beschrijving}}
  </p>

  <div class="spacer"></div>
  <h2>De speerpunten van onze BurgeRmeester</h2>
  <div class="spacer"></div>
  <div class="spacer"></div>
  {{speerpunt_forms.management_form}}
  {% for form in speerpunt_forms %}
  <div class="speerpunt">
    <h3>Speerpunt <span class='speerpunt_nr'>1</span></h3>
    <p{% if form.woord.errors %} class="error"{% endif %}>
      {{form.woord.label_tag}}{{form.woord}}
    </p>
    <p{% if form.beschrijving.errors %} class="error"{% endif %}>
      {{form.beschrijving.label_tag}}{{form.beschrijving}}
    </p>
  </div>
  {% endfor %}

  <div class="submit">
    <input type="submit" value="Opslaan en naar de volgende stap">
  </div>

</form>


{% endblock %}

{% block extrascript %}
<script src="{% static 'jquery.formset.js' %}"></script>
<script>
  $(function (){
    $('.speerpunt_nr').each(function(index, value) {
      $(value).html(index + 1);
    });

    $('.speerpunt').formset({
      prefix: '{{speerpunt_forms.prefix}}',
      formCssClass: 'dynamic-formset1',
      deleteText: '(verwijderen?)',
      addText: 'Voeg nog een speerpunt toe',
      added: function() {
        $('.speerpunt_nr').each(function(index, value) {
          $(value).html(index + 1);
        });
      },
      removed: function() {
        $('.speerpunt_nr').each(function(index, value) {
          $(value).html(index + 1);
        });
      },
    });
});
</script>
{% endblock %}
