{% extends 'base_with_sidebar.html' %}
{% load static %}

{% block extrahead %}
<style>
  select {
    min-width: 200px !important;
  }
</style>
{% endblock %}

{% block sidebar %}

<img src="{% static 'aanmelden.png' %}" class="pagetitle">
<p>
  Bijna klaar! In deze laatste stap vragen we je om alle ideeën vast te leggen die uit de bijeenkomst zijn gekomen. Iedereen kan een steentje bijdragen, bijvoorbeeld door zich aan te melden als kartrekker of helper bij een van de doe-ideeën.
</p>

{% endblock %}

{% block content %}

{% include 'steps.html' %}

<form method="POST">{% csrf_token %}

  <h2>Onze Doe-ideeën</h2>
  {% if idee_forms.errors %}
  <div class="errormessage">
    Oeps! Niet alle velden zijn goed ingevuld. Herstel a.u.b. de fouten hieronder:
  </div>
  {% endif %}

  {{idee_forms.management_form}}
  {% for form in idee_forms %}
  <div class="idee subform">
    <h3>Idee <span class='idee_nr'>1</span></h3>
    {% for field in form %}
    {% include 'formfield.html' %}
    {% endfor %}
  </div>
  {% endfor %}

  <div class="submit">
    <input type="submit" value="Opslaan en afronden">
  </div>
</form>


{% endblock %}

{% block extrascript %}
<script src="{% static 'jquery.formset.js' %}"></script>
<script>
  $(function (){
    $('.idee_nr').each(function(index, value) {
      $(value).html(index + 1);
    });

    $('.idee').formset({
      prefix: '{{idee_forms.prefix}}',
      formCssClass: 'dynamic-formset1',
      deleteText: 'verwijderen',
      addText: 'Voeg nog een idee toe',
      added: function() {
        $('.idee_nr').each(function(index, value) {
          $(value).html(index + 1);
        });
      },
      removed: function() {
        $('.idee_nr').each(function(index, value) {
          $(value).html(index + 1);
        });
      },
    });
});
</script>
{% endblock %}
