{% extends 'base_with_sidebar.html' %}
{% load static %}

{% block sidebar %}

<img src="{% static 'aanmelden.png' %}" class="pagetitle">

{{tekst.0|safe}}

{% if not bijeenkomst.besloten %}
<p>
  Mensen kunnen zichzelf opgeven als deelnemer aan deze bijeenkomst via de volgende URL:<br>
  <a href="{{bijeenkomst.get_absolute_url}}">http://mijndenbosch.nl{{bijeenkomst.get_absolute_url}}</a>
</p>
{% endif %}

{% if form.foto.value %}
<h2>Huidige foto</h2>
<p>
  {% include 'foto.html' with url=form.foto.value.url %}
</p>
{% endif %}

{% endblock %}

{% block content %}

{% include 'steps.html' %}

<form enctype="multipart/form-data" method="POST">{% csrf_token %}
  <h2>Onze BurgeRmeester</h2>

  {% if form.errors or speerpunt_forms.errors %}
  <div class="errormessage">
    Oeps! Niet alle velden zijn goed ingevuld. Herstel a.u.b. de fouten hieronder:
  </div>
  {% endif %}

  {% for field in form %}
  {% include 'formfield.html' %}
  {% endfor %}

  <h2>De speerpunten van onze BurgeRmeester</h2>

  {{speerpunt_forms.management_form}}
  {% for form in speerpunt_forms %}
  <div class="speerpunt subform">
    <h3>Speerpunt #<span class='speerpunt_nr'>1</span></h3>
    {% for field in form %}
    {% include 'formfield.html' %}
    {% endfor %}
  </div>
  {% endfor %}

  <div class="submit">
    <input type="submit" value="Opslaan en naar de volgende stap">
  </div>
</form>

{% endblock %}

{% block extrascript %}
<script src="{% static 'jquery.formset.js' %}"></script>
<script>
  $(function (){
    $('.speerpunt_nr').each(function(index, value) {
      $(value).html(index + 1);
    });

    $('.speerpunt').formset({
      prefix: '{{speerpunt_forms.prefix}}',
      formCssClass: 'dynamic-formset1',
      deleteText: 'verwijderen',
      addText: 'Voeg nog een speerpunt toe',
      added: function() {
        $('.speerpunt_nr').each(function(index, value) {
          $(value).html(index + 1);
        });
      },
      removed: function() {
        $('.speerpunt_nr').each(function(index, value) {
          $(value).html(index + 1);
        });
      },
    });
});
</script>
{% endblock %}
