{% extends 'base_with_sidebar.html' %}
{% load static %}

{% block sidebar %}

<img src="{% static 'over_mijn_denbosch.png' %}">
<section class="border">
  <p>
    ’s Hertogenbosch. Den Bosch. Wie zijn we? Wat doen we? En vooral: wie wíllen we zijn? Er is al veel over geschreven en gesproken. Door filosofen, door merkbureau’s en door de overheid. Nu zijn we zelf aan zet. Vanaf vandaag kunnen we niet meer zeggen dat we geen invloed hebben op de toekomst van onze stad!
  </p>
  <p>
    Wij Bossche burgers zijn dag in dag uit bezig onze stad te vormen. Via allerlei initiatieven en netwerken maken we ons sterk voor wat wíj belangrijk vinden. Voor onze toekomst. Ieder vanuit onze eigen achtergrond, opvattingen en uitgangspunten.
  </p>
  <p>
    Mijn Den Bosch verzamelt de visies van zoveel mogelijk Bossche netwerken, clubs en initiatieven. Want als we elkaar laten zien waar we mee bezig zijn, kunnen we elkaar vinden, elkaar versterken en zo Den Bosch in haar kracht zetten. Want we weten allemaal: als we het zélf niet doen, gebeurt er niets.
  </p>
</section>

<section class="border">
  <div class="aspect-ratio">
    <iframe src="https://player.vimeo.com/video/166010665?title=0&byline=0&portrait=0" width="100%" height="200" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</section>

{% endblock %}

{% block content %}
<section>
  <img src="{% static 'burgermeesters_illu.png' %}">
</section>

<section class="left">
  <img src="{% static 'hoe_dan.png' %}">
  <p>
    Via de BurgeRmeesters vergelijken we zoveel mogelijk visies van verschillende Bosschenaren. Deze metafoor voor de stad geeft weer hoe wij onze toekomst vorm geven. Wie zou jullie ideale burgervader of –moeder zijn? Wie heeft alles in zich om jullie idealen vorm te geven? Het mag een bestaand iemand uit je netwerk zijn. Maar ook iemand die jullie bewonderen. Of een stripheld met juist die eigenschappen die jij vindt passen bij het Bossche.
    </p>

    <p>
      Behalve de BurgeRmeester horen we ook graag wat belangrijke thema’s voor de toekomst van Den Bosch zijn. En last but not least: wat gaat jullie netwerk daaraan bijdragen?
    </p>

    <p>
      Alle uitkomsten worden gebundeld en zijn inzichtelijk voor iedereen. Zo heeft iedereen straks in beeld welke netwerken actief zijn. En kan je voor jouw projecten aansluiting zoeken bij netwerken met dezelfde ideeën als de jouwe. Want samen sta je krachtiger.
    </p>
</section>

<section class="right">
  <img src="{% static 'en_dan.png' %}">
  <p>
    Natuurlijk geven we de uitkomsten terug naar de gemeente. Door een ludieke actie, of misschien met een burgerinitiatief. Hoe weten we nog niet, want dat hangt helemaal af hoe jullie Den Bosch zien. Of de gemeente er concreet iets mee gaan doen, kunnen we niet beloven. Maar hoe meer Bosschenaren hun visie neerleggen, hoe meer kans op vervolg!
  </p>

  <a href="{% url 'leden' %}"><img src="{% static 'meld_je_aan_doe_mee.png' %}"></a>

  <p>
    <b>Vragen of opmerkingen?</b> Wij horen ze graag! Stel ze aan: <a href="mailto:info@mijndenbosch.nl">info@mijndenbosch.nl</a>
  </p>
</section>

{% endblock %}
