{% extends 'base_with_sidebar.html' %}

{% block sidebar %}
  <div class="spacer"></div>
  {% for m in messages %}
    <div class="message">{{m}}</div>
  {% endfor %}
  <form method="POST" class="border">{% csrf_token %}
    <h3 style="margin-top:0">Meld je aan als deelnemer van deze bijeenkomst:</h3>
    {{form.as_p}}
    <div class="spacer"></div>
    <input type="submit" value="Ik doe mee!">
  </form>
  <p>
    Bovenstaande gegevens worden beschikbaar gesteld aan {{netwerkhouder.voornaam}}, de netwerkhouder van "{% if website %}<a href="{{website}}">{% endif %}{{naam}}{% if website %}</a>{% endif %}".<br>
    {% if netwerkhouder.email %}
      Heb je nog vragen? <a href="mailto:{{netwerkhouder.email}}">Stuur een e-mail aan {{netwerkhouder.voornaam}}</a>.
    {% endif %}
  </p>
  {% if netwerkhouder.profielfoto %}
    <h3>{{netwerkhouder}}</h3>
    <img width="50%" src="{{netwerkhouder.profielfoto.url}}">
  {% endif %}
{% endblock %}

{% block content %}

  {% if entity.logo %}
    {% if website %}<a href="{{website}}">{% endif %}
      <img style="float:right; width:200px; margin-top: 20px" src="{{entity.logo.url}}">
    {% if website %}</a>{% endif %}
  {% endif %}

  {% if bijeenkomst.datum and bijeenkomst.tijd %}
    <h1>{{bijeenkomst.datum}} <span style="font-size: 0.8em">&nbsp;{{bijeenkomst.tijd}} uur</span></h1>
  {% else %}
    <h1>Datum onbekend</h1>
  {% endif %}
  <h2>De bijeenkomst van “{{naam}}”</h2>

  {{bijeenkomst.beschrijving|safe}}

  {% if bijeenkomst.locatie %}
    <h3 style="text-align:right">Locatie: {{bijeenkomst.locatie}}</h3>
    <address>{{bijeenkomst.adres}}</address>
  {% else %}
    <h2>Locatie: onbekend</h2>
  {% endif %}
{% endblock %}

{% block extrascript %}
<script>
  $(function(){
      $("address").each(function(){
          var apikey = 'AIzaSyBwQf9yfznNycaXoUV4HCAlpUyZIIOHr8Q';
          var source = 'https://www.google.com/maps/embed/v1/place?q=' + encodeURIComponent($(this).text()) + '&key=' + apikey;
          var embed = '<iframe width="100%" height="400" style="border:none" src="' + source +'"></iframe>';
          console.log(embed);
          $(this).html(embed);
      });
  });
</script>
{% endblock %}
