{% extends 'base_with_sidebar.html' %}

{% block sidebar %}
<div class="spacer"></div>
{% for m in messages %}
<div class="message">{{m}}</div>
{% endfor %}
<form method="POST">{% csrf_token %}
  {{form.as_p}}
  <div class="spacer"></div>
  <input type="submit" value="Ik doe mee!">
</form>
<p>
  (Deze gegevens zullen beschikbaar worden gesteld aan de netwerkhouder. Verder zullen we je nergens mee lastig vallen. Beloofd!)
</p>


{% endblock %}

{% block content %}

<h1>{{bijeenkomst.datum}}: De bijeenkomst van het netwerk: “{{bijeenkomst.naam}}”</h1>

<p>
  Deze bijeenkomst zal plaatsvinden om {{bijeenkomst.tijd}} uur op het volgende adres:
</p>

<address>{{bijeenkomst.adres}}</address>

{% endblock %}

{% block extrascript %}
<script>
  $(function(){
      $("address").each(function(){
          var apikey = 'AIzaSyBwQf9yfznNycaXoUV4HCAlpUyZIIOHr8Q';
          var source = 'https://www.google.com/maps/embed/v1/place?q=' + encodeURIComponent($(this).text()) + '&key=' + apikey;
          var embed = '<h2>' + $(this).text() + '</h2><iframe width="425" height="350" style="border:none" src="' + source +'"></iframe>';
          console.log(embed);
          $(this).html(embed);
      });
  });
</script>
{% endblock %}
