{% extends 'base_with_sidebar.html' %}

{% block sidebar %}
<div class="spacer"></div>
{% for m in messages %}
<div class="message">{{m}}</div>
{% endfor %}
<form method="POST">{% csrf_token %}
  {{form.as_p}}
  <div class="spacer"></div>
  <input type="submit" value="Ik doe mee!">
</form>
<p>
  (Deze gegevens zullen beschikbaar worden gesteld aan de netwerkhouder en je voornaam zal verschijnen in het lijstje verderop. Verder zullen we je nergens mee lastig vallen. Beloofd!)
</p>


{% endblock %}

{% block content %}

<h1>{{bijeenkomst.datum}}: De bijeenkomst van het netwerk: “{{bijeenkomst.naam}}”</h1>

<p>
  Deze bijeenkomst zal plaatsvinden om {{bijeenkomst.tijd}} uur op het volgende adres:
</p>

<address>{{bijeenkomst.adres}}</address>

{% if deelnemers %}
<h2>Dit zijn de mensen die Den Bosch gaan veranderen:</h2>

<ul>
  {% for d in deelnemers %}
  {% if d.voornaam %}
  <li>{{d.voornaam}}</li>
  {% endif %}
  {% endfor %}
</ul>
{% endif %}

{% endblock %}

{% block extrascript %}
<script>
  $(function(){
    $("address").each(function(){
      var embed = "<h2>" + $(this).text() + "</h2><iframe width='425' height='350' frameborder='0' scrolling='no' marginheight='0' marginwidth='0' src='https://maps.google.com/maps?&amp;q=" + encodeURIComponent( $(this).text() ) + "&amp;output=embed'></iframe>";
      console.log(embed);
      $(this).html(embed);
    });
  });
</script>
{% endblock %}
