{% extends 'ultimate_base.html' %}
{% load static %}

{% block body %}

<header>
  <a href="/"><img class="logo" src="{% static 'header_overigepaginas.png' %}"></a>
  {% include 'navigation.html' %}
</header>

<article>
  <img src="{% static 'burgermeesters.png' %}">
</article>

<article class="left">
  <h3 class="news">Uitkomsten Bijeenkomsten</h3>
  <p>
    De BurgeRmeesters stellen zich voor. Bekijk hoe andere Bosschenaren de toekomst zien. Wat vinden ze belangrijk? Wat staat er op de agenda voor de komende jaren? En wat doet het netwerk zelf of wat gaan ze daar zelf aan bijdragen? (On)eens? Vorm ook een BurgeRmeester en inspireer anderen!
  </p>
  <a href="{% url 'leden' %}"><img src="{% static 'meld_je_aan_doe_mee.png' %}"></a>
</article>

<article class="right">
  <div class="inverted">
    <h2>Galerij: Wat vinden Bosschenaren?</h2>
  </div>

  <div class="spacer"></div>

  <div class="gallery">
    {% for b in bijeenkomsten %}
    <div class="burgermeester">
      <div class="number">001</div>
      {% if b.foto %}
      <div class="photo" style="background-image: url({{b.foto.url}})"></div>
      {% else %}
      <div class="photo" style="background-image: url({% static 'burgermeester_man_homepage.png' %})"></div>
      {% endif %}
      <div class="details">
        <h2>
          {% if b.burgermeester %}
          {{b.burgermeester}}
          {% else %}
          Naamloos
          {% endif %}
        </h2>
        <h3 class="news">NETWERK:</h3>
        <p>
          {{b.naam}}
        </p>
        <h3 class="news">BELANGRIJKSTE SPEERPUNT:</h3>
        <p>
          {{b.speerpunten.all.first}}
        </p>
        <p class="readmore">
          <a href="{% url 'bijeenkomst' b.pk %}"><img alt="Lees meer" src="{% static 'leesmeer.png' %}"></a>
        </p>
      </div>
    </div>
    {% endfor %}
  </div>
</article>

{% endblock %}

{% block extrascript %}
<script>
  $(function (){
    $('.number').each(function(index, value) {
      $(value).html(('000' + (index+1)).substr(-3));
    });
  });
</script>
{% endblock %}
