{% extends 'burgermeesters_base.html' %}
{% load static %}
{% load sanitizer %}

{% block content %}

<div class="inverted">
  <h2>{{bijeenkomst.burgermeester}}</h2>
</div>

<div class="spacer"></div>

{% if bijeenkomst.foto %}
<img style="float:right;width:33%;margin:0 0 1em 1em" class="grayscale" src="{{bijeenkomst.foto.url}}">
{% else %}
<img style="float:right;width:33%;margin:0 0 1em 1em" src="{% static 'burgermeester_man_homepage.png' %}">
{% endif %}

<h4>Netwerk</h4>
<p>
  {{bijeenkomst.naam}}
</p>

<h4>Karaktereigenschappen</h4>
<p>
  {{bijeenkomst.beschrijving|strip_html|safe}}
</p>

<div class="spacer"></div>
<img alt="Speerpunten" src="{% static 'speerpunten.png' %}">
<div class="spacer"></div>

{% for speerpunt in bijeenkomst.speerpunten.all %}

<h2>{{forloop.counter}}. {{speerpunt.beschrijving}}</h3>
<p>
  {{speerpunt.toelichting}}
</p>
{% for idee in speerpunt.ideeen.all %}
<h3>Doe-idee: {{idee.beschrijving}}</h4>
<p>
  {{idee.toelichting}}
</p>
{% endfor %}
<div class="spacer"></div>
{% endfor %}

{% endblock %}
