{% extends 'burgermeesters_base.html' %}
{% load static %}
{% load sanitizer %}

{% block content %}

<div class="inverted">
  <h2>{{bijeenkomst.burgermeester}}</h2>
</div>

<div class="spacer"></div>

<div class="burgermeester_foto">
  {% if bijeenkomst.foto %}
  {% include 'foto.html' with url=bijeenkomst.foto.url %}
  {% else %}
  {% include 'foto.html' with url='/static/burgermeester_man_homepage.png' %}
  {% endif %}
</div>

<h4>Netwerk</h4>
<p>
  {{bijeenkomst.naam}}
</p>

<h4>Karaktereigenschappen</h4>
<p>
  {{bijeenkomst.beschrijving|strip_html|safe}}
</p>

<div class="spacer"></div>
<img alt="Speerpunten" src="{% static 'speerpunten.png' %}">
<div class="spacer"></div>

{% for speerpunt in bijeenkomst.speerpunten.all %}

<h2>{{forloop.counter}}. {{speerpunt.beschrijving}}</h3>
<p>
  {{speerpunt.toelichting}}
</p>
{% for idee in speerpunt.ideeen.all %}
<h3>Doe-idee: {{idee.beschrijving}}</h4>
<p>
  {{idee.toelichting}}
</p>
{% endfor %}
<div class="spacer"></div>
{% endfor %}

{% endblock %}
