{% extends 'ultimate_base.html' %}
{% load static %}

{% block body %}

<header>
  <a href="/"><img class="logo" src="{% static 'header_overigepaginas.png' %}"></a>
  {% include 'navigation.html' %}
</header>

<article>
  <img src="{% static 'burgermeesters.png' %}">
</article>

<article class="left">
  {{tekst.0|safe}}
  <a href="{% url 'submit_mayor' %}"><img src="{% static 'meld_je_aan_doe_mee.png' %}"></a>
</article>

<article class="right">
  {% block content %}
  {% endblock %}
</article>

{% endblock %}
