{% extends 'base_with_sidebar.html' %}
{% load static %}

{% block sidebar %}
  <h1>Bekijk:</h1>
  <div class="filter">
    <a href="{% url 'mayors' %}">→ BurgeRmeesters</a><br>
    <a class="current" href="{% url 'ideas' %}">→ Ideeën</a>
  </div>
  <h1>Filter op:</h1>
  <div class="filter">
    {% for w in words %}
      {% if w == word %}
        <a class="current" href="?waarde={{w}}">→ {{w}}</a><br>
      {% else %}
        <a href="?waarde={{w}}">→ {{w}}</a><br>
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}

{% block content %}
  <div class="inverted">
    <h2>{{ideas|length}} ideeën geselecteerd</h2>
  </div>
  {% for idea in ideas %}
    <div class="speerpunt">
      <a href="{% url 'mayor' idea.mayor.pk %}"><div class="photo" style="background-image: url('{{idea.mayor.photo.url}}')"></div></a>
      <h2>{{idea.title}} <span class="hashtag">#{{idea.word}}</span></h2>
      {{idea.description|safe}}
    </div>
  {% endfor %}

{% endblock %}
