{% extends 'base_with_sidebar.html' %}
{% load static %}
{% load thumbnail %}

{% block extrahead %}
  <meta property="og:url"         content="http://mijndenbosch.nl{{mayor.get_absolute_url}}" />
  <meta property="og:type"        content="profile" />
  <meta property="og:title"       content="{{mayor}}" />
  <meta property="og:description" content="BurgeRmeester {{mayor}} staat voor {% for i in mayor.ideas.all %}#{{i.word}} {% endfor %}" />
  <meta property="og:image"       content="http://mijndenbosch{{mayor.photo|thumbnail_url:'small'}}" />
{% endblock %}

{% block sidebar %}

  <h2>Deze BurgeRmeester is voorgedragen door:</h2>
  {% if mayor.meeting.entity %}
    <h3>{{mayor.meeting.entity}}</h3>
    {% if mayor.meeting.entity.logo and mayor.meeting.entity.hyperlinks.first %}
      <a target="_blank" href="{{mayor.meeting.entity.hyperlinks.first}}"><img src="{{mayor.meeting.entity.logo|thumbnail_url:'medium'}}"></a>
    {% elif mayor.meeting.entity.logo %}
      <img src="{{mayor.meeting.entity.logo.url}}">
    {% endif %}
  {% elif mayor.person %}
    <h3>{{mayor.person}}</h3>
  {% else %}
    (onbekend)
  {% endif %}

  <div class="spacer"></div>
  {% if netwerkhouder.email %}
    Wil je in contact komen met dit netwerk? <a href="mailto:{{netwerkhouder.email}}">Stuur dan een e-mail aan {{netwerkhouder.voornaam}}</a>.
  {% endif %}
  </p>
  {% if netwerkhouder.profielfoto %}
    <h3>{{netwerkhouder}}</h3>
    <img width="50%" src="{{netwerkhouder.profielfoto|thumbnail_url:'small'}}">

  {% else %}
    <p>Doe mee en meld ook jouw BurgeRmeester aan! We willen heel graag jouw visies, ideeën en speerpunten voor Den Bosch aan iedereen tentoon stellen!</p>
    <a href="{% url 'aanmelden' %}"><img src="{% static 'meld_je_aan_doe_mee.png' %}"></a>
  {% endif %}

{% endblock %}

{% block content %}

<div class="inverted">
  <h2>{{mayor.name}}</h2>
</div>

<div class="spacer"></div>

<div class="burgermeester_foto">
  <div class="photo" style="background-image: url({{mayor.photo|thumbnail_url:'medium'}})"></div>
</div>

{% for idea in mayor.ideas.all %}
  <h2>{{idea.title}} <span class="hashtag">#{{idea.word}}</span></h2>
  <p>
    {{idea.description|safe}}
  </p>
  <div class="spacer"></div>
{% endfor %}

{% endblock %}
