{% extends 'base_with_sidebar.html' %}
{% load static %}
{% load thumbnail %}

{% block sidebar %}
  <h1>Bekijk:</h1>
  <div class="filter">
    <a class="current" href="{% url 'mayors' %}">→ BurgeRmeesters</a><br>
    <a href="{% url 'ideas' %}">→ Ideeën</a>
  </div>
  <h1>Filter op:</h1>
  <div class="filter">
    {% for w in words %}
      {% if w == word %}
        <a class="current" href="?waarde={{w}}">→ {{w}}</a><br>
      {% else %}
        <a href="?waarde={{w}}">→ {{w}}</a><br>
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}

{% block content %}
  <div class="inverted">
    <h2>{{mayors|length}} BurgeRmeesters geselecteerd</h2>
  </div>
  <div class="gallery">
    {% for mayor in mayors %}
      <div class="burgermeester" onclick="window.location='{% url 'mayor' mayor.pk %}'" style="cursor:pointer; background-image: url({{mayor.photo|thumbnail_url:'small'}})">
        <div class="hoverme" style="cursor:pointer; background-image: url({{mayor.photo|thumbnail_url:'small'}})"></div>
        <div class="details">
          <h2>
            {{mayor.name}}
          </h2>
        </div>
      </div>
    {% endfor %}
  </div>

{% endblock %}
