{% load static %}

<nav>
  <ul>
    {% if currentpage == 'homepage' %}
    <li><a href="{% url 'homepage' %}" class="active"><img src="{% static 'menu_home_dark.png' %}"></a></li>
    {% else %}
    <li><a href="{% url 'homepage' %}"><img src="{% static 'menu_home.png' %}"></a></li>
    {% endif %}

    {% if currentpage == 'about' %}
    <li><a href="{% url 'about' %}" class="active"><img alt="Over Mijn Den Bosch" src="{% static 'menu_about_dark.png' %}"></a></li>
    {% else %}
    <li><a href="{% url 'about' %}"><img alt="Over Mijn Den Bosch" src="{% static 'menu_about.png' %}"></a></li>
    {% endif %}
    {% if currentpage == 'aanmelden' or view.aanmelden %}
    <li><a href="{% url 'aanmelden' %}" class="active"><img alt="Aanmelden" src="{% static 'menu_aanmelden_dark.png' %}"></a></li>
    {% else %}
    <li><a href="{% url 'aanmelden' %}"><img alt="Aanmelden" src="{% static 'menu_aanmelden.png' %}"></a></li>
    {% endif %}

    {% if currentpage == 'burgermeesters' %}
    <li><a href="{% url 'burgermeesters' %}" class="active"><img alt="De BurgeRmeesters" src="{% static 'menu_burgermeesters_dark.png'%}"></a></li>
    {% else %}
    <li><a href="{% url 'burgermeesters' %}"><img alt="De BurgeRmeesters" src="{% static 'menu_burgermeesters.png'%}"></a></li>
    {% endif %}

    {% if currentpage == 'initiatieven' %}
    <li><a href="{% url 'initiatieven' %}" class="active"><img alt="Hier gebeurt het al" src="{% static 'menu_projects_dark.png' %}"></a></li>
    {% else %}
    <li><a href="{% url 'initiatieven' %}"><img alt="Hier gebeurt het al" src="{% static 'menu_projects.png' %}"></a></li>
    {% endif %}

    <li>
      {% if user.is_authenticated %}
      <a href="{% url 'auth_logout' %}"><img alt="Uitloggen" src="{% static 'menu_logout.png' %}"></a>
      {% else %}
      <a href="{% url 'auth_login' %}"><img alt="Inloggen" src="{% static 'menu_login.png' %}"></a>
      {% endif %}
    </li>
  </ul>
</nav>
