{% extends 'submit_base.html' %}
{% load static %}

{% block intro %}
  <h1>Wijzig deelnemers</h1>
{% endblock %}

{% block form %}
  <form method="POST">
    {% csrf_token %}
    {% if forms.errors %}
      <div class="errormessage">
        Oeps! Niet alle velden zijn goed ingevuld. Herstel a.u.b. de fouten hieronder:
      </div>
    {% endif %}

    <table>
      <tr>
        <th>Voornaam:</th><th>Achternaam:</th><th>Email:</th><th>Type:</th>
      </tr>
      {{forms.management_form}}
      {% for form in forms %}
        <tr class="deelnemer">
          {% for field in form %}
            <td{% if field.errors %} class="error"{% endif %}>
              {{field}}
            </td>
          {% endfor %}
          <td></td>
        </tr>
      {% endfor %}
    </table>
    Er zijn nu {{forms|length|add:'-3'}} aanwezigen geregistreerd

    <div class="submit">
      <input type="submit" value="Opslaan">
    </div>
  </form>
{% endblock %}

{% block extrascript %}
  <script src="{% static 'jquery.formset.js' %}"></script>
  <script>
    $(function (){
        $('tr.deelnemer').formset({
            prefix: '{{participant_forms.prefix}}',
            formCssClass: 'dynamic-formset1',
            deleteText: '❌',
            addText: 'Voeg nog een deelnemer toe',
        });
    });
  </script>
{% endblock %}
