{% extends 'base.html' %}
{% load static %}

{% block content %}

  <h1>Meld jouw BurgeRmeester aan!</h1>
  <p>
    Wat leuk dat je mee wil denken over de toekomst van onze stad! Laat je mening horen door zelf een BurgeRmeester voor te dragen. Het mag een bestaand iemand uit je netwerk zijn. Maar ook iemand die je bewondert. Of een stripheld met eigenschappen die jij vindt passen bij Den Bosch.
  </p>

  <form enctype="multipart/form-data" method="POST">{% csrf_token %}
    {% if person_form.errors or mayor_form.error or idea_forms.errors %}
      <div class="errormessage">
        Oeps! Niet alle velden zijn goed ingevuld. Herstel a.u.b. de fouten hieronder:
      </div>
    {% endif %}

    <h2>1. Wie ben je?</h2>
    <p>Je naam wordt getoond op de website. We beloven om je email niet verder te verspreiden.</p>
    {% for field in person_form %}
      {% include 'formfield.html' %}
    {% endfor %}

    <h2>2. Wie wordt jouw BurgeRmeester?</h2>
    <p>Voor de naam van de BurgeRmeester kun je je eigen naam gebruiken, de naam van iemand die je bewondert, of een fictieve naam.</p>
    {% for field in mayor_form %}
      {% include 'formfield.html' %}
    {% endfor %}

    <h2>3. Wat zijn jouw speerpunten?</h2>
    <p>Vul tot slot hieronder de speerpunten van jouw BurgeRmeester in.</p>

    {{idea_forms.management_form}}
    {% for form in idea_forms %}
      {{form.media}}
      <div class="idea subform">
        <h3>Speerpunt #<span class="number">1</span></h3>
        {% for field in form %}
          {% include 'formfield.html' %}
        {% endfor %}
      </div>
    {% endfor %}

    <div class="submit">
      <input class="yellow" type="submit" value="Aanmelden">
    </div>
  </form>

{% endblock %}

{% block extrascript %}
  <script src="{% static 'jquery.formset.js' %}"></script>
  <script>
    function renumber(row) {
        if (row) {
            row.find('textarea').each(function(_, el) {
                config = JSON.parse(el.dataset.config);
                CKEDITOR.replace(el.id, config);
            });
        }
        $('span.number').each(function(index, value) {
            value.innerHTML = index + 1;
        });
    }
    $(function (){
        renumber();
        $('.idea').formset({
            prefix: '{{idea_forms.prefix}}',
            formCssClass: 'dynamic-formset1',
            deleteText: '',
            addText: 'Voeg nog een idee toe',
            added: renumber,
            removed: renumber,
        });
    });
  </script>
{% endblock %}
