{% extends 'submit_base.html' %}
{% load static %}

{% block intro %}
  <h1>Wijzig BurgeRmeester</h1>
{% endblock %}

{% block form %}

  <form enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    {% if person_form.errors or mayor_form.error or idea_forms.errors %}
      <div class="errormessage">
        Oeps! Niet alle velden zijn goed ingevuld. Herstel a.u.b. de fouten hieronder:
      </div>
    {% endif %}

    {% for field in mayor_form %}
      {% include 'formfield.html' %}
    {% endfor %}

    {{idea_forms.management_form}}
    {% for form in idea_forms %}
      {{form.media}}
      <div class="idea subform">
        <h3>Speerpunt #<span class="number">1</span></h3>
        {% for field in form %}
          {% include 'formfield.html' %}
        {% endfor %}
      </div>
    {% endfor %}

    <div class="submit">
      <input type="submit" value="Opslaan">
    </div>
  </form>
{% endblock %}

{% block extrascript %}
  <script src="{% static 'jquery.formset.js' %}"></script>
  <script>
    function renumber(row) {
        if (row) {
            row.find('textarea').each(function(_, el) {
                config = JSON.parse(el.dataset.config);
                CKEDITOR.replace(el.id, config);
            });
        }
        $('span.number').each(function(index, value) {
            value.innerHTML = index + 1;
        });
    }
    $(function (){
        renumber(false);
        $('.idea').formset({
            prefix: '{{idea_forms.prefix}}',
            formCssClass: 'dynamic-formset1',
            deleteText: '',
            addText: 'Voeg nog een idee toe',
            added: renumber,
            removed: renumber,
        });
    });
  </script>
{% endblock %}
