{% extends 'base.html' %}
{% load static %}

{% block content %}
  {% block intro %}
    <h1>Aanmelden</h1>
  {% endblock %}

  {% block form %}
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.media }}
      {% if form.errors %}
        <div class="errormessage">
          Oeps! Niet alle velden zijn goed ingevuld. Herstel a.u.b. de fouten hieronder:
        </div>
      {% endif %}

      {% for field in form %}
        {% include 'formfield.html' %}
      {% endfor %}

      <div class="submit">
        <input type="submit" value="Opslaan">
      </div>
    </form>
  {% endblock %}
{% endblock %}

{% block extrascript %}
  <script src="{% static 'jquery.formset.js' %}"></script>
  <script>
    function renumber() {
        $('span.number').each(function(index, value) {
            value.innerHTML = index + 1;
        });
    }
    $(function (){
        $(".datefield").datepicker({
            dateFormat: "dd-mm-yy"
        });
        renumber();
        $('.idea').formset({
            prefix: '{{idea_forms.prefix}}',
            formCssClass: 'dynamic-formset1',
            deleteText: '',
            addText: 'Voeg nog een idee toe',
            added: renumber,
            removed: renumber,
        });
        $('tr.deelnemer').formset({
            prefix: '{{participant_forms.prefix}}',
            formCssClass: 'dynamic-formset1',
            deleteText: '❌',
            addText: 'Voeg deelnemer toe',
        });
    });
  </script>
{% endblock %}
