{% extends 'base.html' %}
{% load static %}

{% block content %}
  {% block intro %}
    <h1>Aanmelden</h1>
  {% endblock %}

  {% block form %}
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.media }}
      {% if form.errors %}
        <div class="errormessage">
          Oeps! Niet alle velden zijn goed ingevuld. Herstel a.u.b. de fouten hieronder:
        </div>
      {% endif %}

      {% for field in form %}
        {% include 'formfield.html' %}
      {% endfor %}

      <div class="submit">
        <input type="submit" value="Opslaan">
      </div>
    </form>
  {% endblock %}
{% endblock %}
