{% extends 'base.html' %}
{% load static %}

{% block sidebar %}

{% endblock %}

{% block content %}

  <h1>Aanmelding voltooid!</h1>
  <p>
    We hebben je aanmelding ontvangen en we gaan er meteen mee aan de slag! Als alles in orde is zal jouw voorgestelde BurgeRmeester binnenkort te zien zijn in de <a href="{% url 'mayors' %}">BurgeRmeesters-galerij</a>. Als je nog vragen hebt kun je ons altijd bereiken via <a href="mailto:info@mijndenbosch.nl">info@mijndenbosch.nl</a>.
  </p>

{% endblock %}
