{% load static %}

<!DOCTYPE html>
<html lang="NL">
  <head>
    <title>{% block title %}Mijn Den Bosch{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="lIOh-jvVuIAmwkUCF3H93nYMsgmC5UiVKN54BzmDdEA" />
    <!--[if lt IE 9]>
    <script src="{% static 'html5shiv.js' %}"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="{% static 'main8.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'jquery-ui.css' %}"/>
    {% block extrahead %}{% endblock %}
  </head>
  <body>
    <div class="container">

      {% block body %}
      {% endblock %}

      <footer>
        <hr>
        <hr>
        <hr>
        <div class="superfluous" style="float:left">
          <img src="{% static 'toeter_klein.png' %}">
          Vragen of opmerkingen? Die horen wij graag. Stel ze aan <a href="mailto:info@mijndenbosch.nl">info@mijndenbosch.nl</a>
        </div>
        <div style="float:right">
          <span class="superfluous">
            Volg ons op social media&nbsp;&nbsp;&nbsp;
          </span>
          <a href="https://www.facebook.com/Mijn-Den-Bosch-1122130191172644/"><img src="{% static 'facebook.png' %}"></a>
          <a href="https://twitter.com/mijndenbosch"><img src="{% static 'twitter_02.png' %}"></a>
          <a href="https://www.linkedin.com/company/10661254?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A10661254%2Cidx%3A2-1-9%2CtarId%3A1476800617873%2Ctas%3Amijn%20den"><img src="{% static 'linkedin.png' %}"></a>
        </div>
      </footer>
    </div>

    {% block extrascript %}{% endblock %}
    <script src="{% static 'jquery.min.js' %}"></script>
    <script src="{% static 'jquery-ui.min.js' %}"></script>

    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//dashboard.rtts.eu/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', 10]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="//dashboard.rtts.eu/piwik.php?idsite=10" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->

  </body>
</html>
