{% load static %}

<!DOCTYPE html>
<html lang="NL">
  <head>
    <title>{% block title %}JADB{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'jadb/main.css' %}"/>
    <script src="{% static 'jquery.min.js' %}"></script>
    {% block extrahead %}{% endblock %}
  </head>
  <body>
    <nav>

      <ul class="categories">
        <li {% if current_url = 'cultureel' %}class="active"{% endif %}><a href="{% url 'cultureel' %}">Cultureel</a></li>
        <li {% if current_url = 'maatschappelijk' %}class="active"{% endif %}><a href="{% url 'maatschappelijk' %}">Maatschappelijk</a></li>
        <li {% if current_url = 'persoonlijk' %}class="active"{% endif %}><a href="{% url 'persoonlijk' %}">Persoonlijk</a></li>
        <li {% if current_url = 'initiatieven' %}class="active"{% endif %}><a href="{% url 'initiatieven' %}">Initiatieven</a></li>
      </ul>

      <form id="tagform" class="tags" method="GET">
        {% for tag in tags %}
        <nobr><input {% if tag.id in selected_tags %}checked {% endif %}onclick="document.getElementById('tagform').submit()" type="checkbox" name="tag" value="{{tag}}" id="{{tag}}"><label for="{{tag}}">{{tag}}</label></nobr>
        {% endfor %}
      </form>

    </nav>

    {% for ent in entities %}
    <div class="entity">
      <h1>
        {% if ent.logo %}
        <img height="100" src="{{ent.logo.url}}">
        {% endif %}
        {{ent.titel}}
      </h1>
      <h2>{{ent.tagline}}</h2>
      <p>{{ent.beschrijving|safe}}</p>

      <h3>Contact:</h3>
      <p><a href="mailto:{{ent.emailadres}}">{{ent.emailadres}}</a></p>
      <p>{{ent.bezoekadres}}</p>

      <h3>Links:</h3>
      <ul>
        {% for link in ent.hyperlinks.all %}
        <li><a href="{{link.url}}">{{link.type}}</a></li>
        {% endfor %}
      </ul>

      <h3>Partners:</h3>
      <ul>
        {% for rel in ent.relaties_van.all %}
        <li>{{rel.van_entiteit}}</li>
        {% endfor %}
      </ul>

      <h3>Acties:</h3>
      <ul>
        {% for rel in ent.relaties_naar.all %}
        <li>{{rel.naar_entiteit}}</li>
        {% endfor %}
      </ul>

      <h3>Betrokkenen:</h3>
      <ul>
        {% for p in ent.participaties.all %}
        <li>{{p.persoon}}</li>
        {% endfor %}
      </ul>

    </div>
    {% endfor %}
  </body>
</html>
