{% load static %}

<!DOCTYPE html>
<html lang="NL">
  <head>
    <title>{% block title %}JADB{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'jadb/main.css' %}"/>
    <script src="{% static 'jquery.min.js' %}"></script>
    {% block extrahead %}{% endblock %}
  </head>
  <body>
    {% block content %}
    {% endblock %}
  </body>
</html>
