{% load thumbnail %}

<h1 class="huge">{{section.title}}</h1>


<div class="programs_wrapper">
  <div id="previous"><a href="#" onclick="scroll_left(); return false">&lt;</a></div>
  <div id="next"><a href="#" onclick="scroll_right(); return false">&gt;</a></div>

  <div class="programs">
    {% for p in section.programs %}
      {% if p.image %}
        <a href="#" onclick="toggle({{forloop.counter}}); return false">
          <div class="program">
            <div class="image">
              <img src="{% thumbnail p.image 400x400 %}">
            </div>
            <h1>{{p.title}}</h1>
          </div>
        </a>
      {% endif %}
    {% endfor %}
  </div>
</div>

<div class="program_detail">
  {% for p in section.programs %}
    {% if p.image %}
      <div class="wrapper detail color1" id="program{{forloop.counter}}">
        <section class="normal">
          <div class="text">
            <h1 class="color1">{{p.title}}</h1>
            {{p.description|safe}}
          </div>
          <div class="image">
            <img alt="" src="{% thumbnail p.image 400x400 %}">
          </div>
        </section>
      </div>
    {% endif %}
  {% endfor %}
</div>

<script>
  function toggle(counter) {
      // Hide all elements
      elements = document.querySelectorAll('div.detail');
      for (var i=0; i<elements.length; i++) {
          elements[i].style = 'display: none';
      }

      // Show requested element
      element = document.getElementById('program' + counter);
      element.style = 'display: block'
  }




  element = document.querySelector('div.programs');
  scroll_duration = 4000;

  function scroll_right() {
      right_margin_after = element.scrollLeft + 2*element.clientWidth;

      if (right_margin_after > element.scrollWidth) {
          scroll_amount = element.clientWidth - (right_margin_after - element.scrollWidth)
      }
      else {
          scroll_amount = element.clientWidth;
      }

      target = element.scrollLeft + scroll_amount;
      scroll_step = scroll_amount / scroll_duration * 100;

      interval_id = setInterval(function() {
          if (element.scrollLeft < target - 1) {
              element.scrollLeft += scroll_step;
          }
          else {
              clearInterval(interval_id);
          }
      }, 10)
  }
  function scroll_left() {
      left_margin_after = element.scrollLeft - element.clientWidth;

      if (left_margin_after < 0) {
          scroll_amount = element.scrollLeft;
      }
      else {
          scroll_amount = element.clientWidth;
      }

      target = element.scrollLeft - scroll_amount;
      scroll_step = scroll_amount / scroll_duration * 100;

      interval_id = setInterval(function() {
          if (element.scrollLeft > target + 1) {
              element.scrollLeft -= scroll_step;
          }
          else {
              clearInterval(interval_id);
          }
      }, 10)
  }

  function scrollToTop(scrollDuration) {
          scrollInterval = setInterval(function(){
              if ( window.scrollY != 0 ) {
                  window.scrollBy( 0, scrollStep );
              }
              else clearInterval(scrollInterval); 
          },15);
  }
</script>
