{% load thumbnail %}

<h1 class="huge">{{section.title}}</h1>


<div class="programs_wrapper">
  <div id="previous"><a href="#" onclick="scroll_left(); return false">&lt;</a></div>
  <div id="next"><a href="#" onclick="scroll_right(); return false">&gt;</a></div>

  <div class="programs">
    {% for p in section.programs %}
      {% if p.image %}
        <div class="program">
          <div class="image">
            <img src="{% thumbnail p.image 400x400 %}">
          </div>
          <h1>{{p.title}}</h1>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

<script>
  element = document.querySelector('div.programs');

  function scroll_right() {
      console.log('scrolling right');
      element.scrollLeft = element.clientWidth;
  }
  function scroll_left() {
      console.log('scrolling left');
      element.scrollLeft = element.scrollLeft - element.clientWidth;
  }
</script>
