{% extends 'de_locatie/base.html' %}
{% load static %}

{% block main %}
  {% for section in sections %}
    <div class="wrapper color{{section.color}} type{{section.type}}">
      {% if section.type == 1 %}
        <section class="normal">
          {% include 'de_locatie/include/section_normal.html' %}
        </section>
      {% elif section.type == 2 %}
        <section class="video">
          {% include 'de_locatie/include/section_video.html' %}
        </section>
      {% elif section.type == 3 %}
        <section class="news_small">
          {% include 'de_locatie/include/section_news_small.html' %}
        </section>
      {% elif section.type == 4 %}
        <section class="news_large">
          {% include 'de_locatie/include/section_news_large.html' %}
        </section>
      {% elif section.type == 5 %}
        <section class="projects">
          {% include 'de_locatie/include/section_projects.html' %}
        </section>
      {% elif section.type == 6 %}
        <section class="partners">
          {% include 'de_locatie/include/section_partners.html' %}
        </section>
      {% elif section.type == 7 %}
        <section class="photo">
          {% include 'de_locatie/include/section_photo.html' %}
        </section>
      {% elif section.type == 9 %}
      <section class="agenda">
        {% include 'de_locatie/include/section_agenda.html' %}
      </section>
      {% endif %}
    </div>
  {% endfor %}
{% endblock %}

{% block extrahead %}
  <link rel="stylesheet" type="text/css" href="{% static 'slick/slick.css' %}"/>
{% endblock %}

{% block extrabody %}
  <script type="text/javascript" src="{% static 'slick/slick.min.js' %}"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function(event) {
        var events = document.querySelectorAll('div.event');
        for (var event of events) {
            r = Math.random() * 100 + 'px';
            console.log(r);
            event.style.top = r;
        }
    });

    $(function(){
        $('.slider').slick({
            infinite: false,
            slidesToShow: 5,
            slidesToScroll: 5,
            swipeToSlide: true,
            accessibility: false,
            responsive: [
                {
                    breakpoint: 2000,
                    settings: {
                        slidesToShow: 4,
                        slidesToScroll: 4,
                    },
                },
                {
                    breakpoint: 1500,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3,
                    },
                },
                {
                    breakpoint: 1000,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2,
                    },
                },
                {
                    breakpoint: 800,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1,
                    },
                },
            ],
        });
    });
  </script>
{% endblock %}
