{% extends 'effect/base.html' %}
{% load static %}

{% block main %}
  {% for section in sections %}
    <div class="wrapper color{{section.color}}">
      {% if section.type == 1 %}
        <section class="normal">
          {% include 'effect/include/section_normal.html' %}
        </section>
      {% elif section.type == 2 %}
        <section class="video">
          {% include 'effect/include/section_video.html' %}
        </section>
      {% elif section.type == 3 %}
        <section class="news_small">
          {% include 'effect/include/section_news_small.html' %}
        </section>
      {% elif section.type == 4 %}
        <section class="news_large">
          {% include 'effect/include/section_news_large.html' %}
        </section>
      {% elif section.type == 5 %}
        <section class="projects">
          {% include 'effect/include/section_projects.html' %}
        </section>
      {% elif section.type == 6 %}
        <section class="partners">
          {% include 'effect/include/section_partners.html' %}
        </section>
      {% elif section.type == 7 %}
        <section class="photo">
          {% include 'effect/include/section_photo.html' %}
        </section>
      {% endif %}
    </div>
  {% endfor %}
{% endblock %}

{% block extrahead %}
  <link rel="stylesheet" type="text/css" href="{% static 'slick/slick.css' %}"/>
{% endblock %}

{% block extrabody %}
  <script type="text/javascript" src="{% static 'slick/slick.min.js' %}"></script>
  <script>
    $(function(){
        $('.slider').slick({
            infinite: false,
            slidesToShow: 3,
            slidesToScroll: 3,
            swipeToSlide: true,
            responsive: [
                {
                    breakpoint: 800,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2,
                    },
                },
                {
                    breakpoint: 500,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1,
                    },
                },
            ],
        });
    });
  </script>
{% endblock %}
