{% extends 'effect/base.html' %}
{% load static thumbnail embed_video_tags %}

{% block main %}
  <div class="wrapper color1">
    <article class="program_description">
      <section class="body">
        <h1 class="title">{{program.title}}</h1>
        {{program.description|safe}}

        <h2>Locatie</h2>
        <ul>
          <li>{{program.location}}</li>
        </ul>

        {% if program.timeslots.exists %}
          <h2>Tijd</h2>
          <ul>
            {% for timeslot in program.timeslots.all %}
              <li>
                {{ timeslot.begin|date:'l'|capfirst }}
                van
                {{timeslot.begin|date:'H'}}:{{timeslot.begin|date:'i'}}
                tot
                {{timeslot.end|date:'H'}}:{{timeslot.end|date:'i'}}
              </li>
            {% endfor %}
          </ul>
        {% endif %}

      </section>

      <section class="program_photos">
        {% if program.photos.exists %}
          {% if program.photos.count < 3 %}
            <img class="single" src="{% thumbnail program.photos.all.0.image 800x800 %}">
          {% else %}
            <ul class="thumbnails">
              {% for photo in program.photos.all %}
                <li style="background-image: url({% thumbnail photo.image 200x200%})"/>
              {% endfor %}
            </ul>
            <div class="photos">
              {% for photo in program.photos.all %}
                <figure>
                  <img src="{% thumbnail photo.image 800x800%}">
                </figure>
              {% endfor %}
            </div>
          {% endif %}
        {% else %}
          <img class="single" src="{% thumbnail program.image 800x800 %}">
        {% endif %}
        {% for link in program.hyperlinks.all %}
          &nbsp; <a class="button" href="{{link.url}}">{{link.type}}</a>
        {% endfor %}
      </section>
    </article>
  </div>

  {% if program.videos.all %}
    <div class="wrapper color2">
      {% for video in program.videos.all %}
        <section class="video" style="max-width: 800px">
          <div class="video">
            <div class="iframe">
              {% video video.video '800x600' %}
            </div>
          </div>
        </section>
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}




{% block extrahead %}
  <link rel="stylesheet" type="text/css" href="{% static 'slick/slick.css' %}">
{% endblock %}

{% block extrabody %}
  <script src="{% static 'slick/slick.min.js' %}"></script>
  <script>
    $(function(){
        $('.photos').slick({
            infinite: false,
            slidesToShow: 1,
            slidesToScroll: 1,
            swipeToSlide: true,
            accessibility: false,
            arrows: false,
            adaptiveHeight: true,
        });

        $('.thumbnails').slick({
            asNavFor: '.photos',
            focusOnSelect: true,
            infinite: false,
            slidesToShow: 3,
            slidesToScroll: 1,
            swipeToSlide: true,
            accessibility: false,
            arrows: false,
        });

        $('.slider').slick({
            infinite: false,
            slidesToShow: 3,
            slidesToScroll: 3,
            swipeToSlide: true,
            accessibility: false,
            responsive: [
                {
                    breakpoint: 800,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2,
                    },
                },
                {
                    breakpoint: 500,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1,
                    },
                },
            ],
        });
    });
  </script>
{% endblock %}
