{% extends 'effect/base.html' %}
{% load static thumbnail %}

<header>
  {% block header %}
    <a href="/"><img alt="eFFect Festival Den Bosch" src="{% thumbnail header.image 1000x1000 %}"></a>
  {% endblock %}
</header>

{% block main %}
  <div class="wrapper color3">
    <article class="project">
      <section class="body">
        <h1 class="title">{{project.title}}</h1>
        <h2 class="title" style="font-style: italic">{{project.subtitle}}</h2>
        {{project.content|safe}}
      </section>

      <section class="project">
        {% if project.person %}
          <div class="leader">
            <h1 class="title">{{project.person.voornaam}} {{project.person.achternaam}}</h1>
            {% if project.person.profielfoto %}
              <img src="{% thumbnail project.person.profielfoto 200x200 %}" style="border: 8px solid white"><br><br>
            {% endif %}
            <a href="mailto:{{project.person.email}}">{{project.person.email}}</a><br>
            {{project.person.telefoonnummer}}<br><br><br><br>
          </div>
        {% endif %}

        {% if project.photos.exists %}
          <div class="photos">
            <ul id="lightSlider">
              {% for photo in project.photos.all %}
                <li data-thumb="{% thumbnail photo.image 250x250 %}"><img src="{% thumbnail photo.image 800x800 %}"></li>
              {% endfor %}
            </ul>

            {% comment %}
            {% for photo in project.photos.all %}
            <figure>
            <img src="{% thumbnail photo.image 800x800%}" alt="{{photo.caption}}">
            <figcaption>{{photo.caption}}</figcaption>
            </figure>
            {% endfor %}
            {% endcomment %}
          </div>
        {% endif %}
      </section>
    </article>
  </div>

  {% if news %}
    <div class="wrapper color1">
      <section class="news_large">
        <h1 class="huge">Nieuws</h1>
        {% include 'effect/include/section_news_large.html' %}
      </section>
    </div>
  {% endif %}

  {% if partners %}
    <div class="wrapper color2" style="padding: 2em 0">
      <h1 class="huge">Partners</h1>
      <section class="partnerships">
        {% for p in partners %}
          <div>
            {% if p.logo %}
              <img src="{{p.logo.url}}" alt="{{p.titel}}">
            {% endif %}
            <h2>{{p.titel}}</h2>
            <p>{{p.tagline}}</p>
            {% for link in p.hyperlinks.all %}
              <a class="button" target="_blank" href="{{link.url}}">
                {% if link.type.icon %}
                  <img src="{% thumbnail link.type.icon 30x30 %}" style="vertical-align: middle;">
                {% endif %}
                {{link.type}}
              </a><br>
            {% endfor %}
          </div>
        {% endfor %}
      </section>
    </div>
  {% endif %}
{% endblock %}

{% block extrahead %}
  <link rel="stylesheet" type="text/css" href="{% static 'slick/slick.css' %}">
  <link type="text/css" rel="stylesheet" href="{% static 'effect/lightslider.css' %}">
{% endblock %}

{% block extrabody %}
  <script src="{% static 'slick/slick.min.js' %}"></script>
  <script src="{% static 'effect/lightslider.js' %}"></script>
  <script>
    $(function(){
        $("#lightSlider").lightSlider({
            gallery: true,
            item: 1,
            loop: true,
            auto: false,
            controls: false,
            thumbItem: 4,
        });

        $('.slider').slick({
            infinite: false,
            slidesToShow: 3,
            slidesToScroll: 3,
            swipeToSlide: true,
            responsive: [
                {
                    breakpoint: 800,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2,
                    },
                },
                {
                    breakpoint: 500,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1,
                    },
                },
            ],
        });
    });
  </script>
{% endblock %}
