{% load static %}
{% load sass_tags %}
{% load thumbnail %}

<!DOCTYPE html>
<html lang="NL">
  <head>
    <title>{% block title %}Rauwkost Festival Den Bosch{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'rauwkost/favicon.png' %}">
    <link rel="stylesheet" href="{% sass_src 'rauwkost/main16.scss' %}">
    <link rel="stylesheet" href="{% sass_src 'rauwkost/hamburgers.css' %}">
    {% if extra_css.image %}
      <link rel="stylesheet" href="{{extra_css.image.url}}">
    {% endif %}
    {% block extrahead %}{% endblock %}
  </head>
  <body>

    {% if header %}
      <img id="header" src="{{header.url}}" alt="Rauwkost Festival">
    {% endif %}

    <div class="header_container">
      <header>
        {% block header %}
          <div class="logo">
            <a href="/"><img height="70" src="{% static 'rauwkost/logo.png' %}" alt="Rauwkost"></a>
          </div>
          <div class="mobile_logo">
            <a href="/"><img height="70" src="{% static 'rauwkost/mobile_logo.png' %}" alt="Rauwkost"></a>
          </div>

          {% block filters %}
            <div class="filters">
              <ul>
                <li class="color{{color}} {% block location_class %}{% endblock %}"><a href="{% url 'locations' year %}?{% if current_location %}locatie={{current_location.slug}}&{% endif %}{% if current_time %}tijd={{current_time}}&{% endif %}{% if current_type %}soort={{current_type.slug}}{% endif %}">{% if current_location %}<span>Locatie</span>{% else %}Locatie{% endif %}{% if current_location %}<span>:</span> {{current_location.title}}{% endif %}</a></li>
                <li class="{% block time_class %}{% endblock %}"><a href="{% url 'times' year %}?{% if current_location %}locatie={{current_location.slug}}&{% endif %}{% if current_time %}tijd={{current_time}}&{% endif %}{% if current_type %}soort={{current_type.slug}}{% endif %}">{% if current_time %}<span>Tijd</span>{% else %}Tijd{% endif %}{% if current_time %}<span>:</span> {{current_time}}:00{% endif %}</a></li>
                <li class="{% block type_class %}{% endblock %}"><a href="{% url 'types' year %}?{% if current_location %}locatie={{current_location.slug}}&{% endif %}{% if current_time %}tijd={{current_time}}&{% endif %}{% if current_type %}soort={{current_type.slug}}{% endif %}">{% if current_type %}<span>Soort</span>{% else %}Soort{% endif %}{% if current_type %}<span>:</span> {{current_type.name}}{% endif %}</a></li>
              </ul>
            </div>
          {% endblock %}

          <div class="menu">
            <button class="hamburger hamburger--collapse" type="button">
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
              </span>
            </button>
          </div>
        {% endblock %}
      </header>
    </div>

    <div class="main_container color{{color}}">
      <nav class="color{{color}}">
        {% block nav %}
        {% endblock %}
      </nav>

      <main>
        {% block main %}
          <article class="page">
            {% block content %}
            {% endblock %}
          </article>
        {% endblock %}
      </main>
    </div>

    <div class="footer_container">
      <footer>
        <div class="images">
          <div>
            {% if footer_left.image %}
              <img src="{{footer_left.image.url}}">
            {% endif %}
          </div>
          <div>
            {% if footer_right.image %}
              <img src="{{footer_right.image.url}}">
            {% endif %}
          </div>
        </div>
        {{footer_center.content|safe}}
        <div class="columns">
          <div class="left">
            {{footer_left.content|safe}}
          </div>
          <div class="right">
            {{footer_right.content|safe}}
          </div>
        </div>
      </footer>
    </div>

    <div class="icons">
      {% for icon in icons %}
        {% if icon.hyperlink %}
          <div style="background-image: url({% thumbnail icon.icon 100x100 %})">
            <a href="{{icon.hyperlink}}"></a>
          </div>
        {% endif %}
      {% endfor %}
      <h2>© Rauwkost {% now "Y" %}</h2>
    </div>

    <ul class="menu">
      {% for p in pages %}
        {% if p.slug %}
          <li><a href="{% url 'page' p.slug %}" {% if p.pk == page.pk %}class="current"{% endif %}>{{p.title}}</a></li>
        {% endif %}
      {% endfor %}
      {% for m in menu %}
        <li><a href="{{m.link}}" {% if m.link == request.path %}class="current"{% endif %}>{{m.title}}</a></li>
      {% endfor %}
    </ul>

    <script src="{% static 'jquery.min.js' %}"></script>
    <script>
      $(function() {
          var $hamburger = $(".hamburger");
          var $hamburgermenu = $("ul.menu");
          var $body = $('body');
          $hamburger.on("click", function(e) {
              $hamburger.toggleClass("is-active");
              $hamburgermenu.toggleClass("visible");
              $body.toggleClass('overlay');
          });

          $('a').each(function() {
              var a = new RegExp('/' + window.location.host + '/');
              if(!a.test(this.href)) {
                  $(this).click(function(event) {
                      event.preventDefault();
                      event.stopPropagation();
                      window.open(this.href, '_blank');
                  });
              }
          });
      });
    </script>
    {% block extrabody %}
    {% endblock %}
  </body>
</html>
