{% load static %}
{% load sass_tags %}
{% load thumbnail %}

<!DOCTYPE html>
<html lang="NL">
  <head>
    <title>{% block title %}Rauwkost Festival Den Bosch{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'rauwkost/favicon.png' %}">
    <link rel="stylesheet" href="{% sass_src 'rauwkost/main2.scss' %}">
    {% block extrahead %}{% endblock %}
  </head>
  <body>

    <div class="header_container">
      <header>
        {% block header %}
          <div class="logo">
            <a href="/"><img height="70" src="{% static 'rauwkost/logo.png' %}" alt="Rauwkost"></a>
          </div>
          <div class="filters">
            <ul>
              <li class="color{{color}} {% block location_class %}{% endblock %}"><a href="{% url 'locations' %}">Locatie</a></li>
              <li class="{% block time_class %}{% endblock %}"><a href="{% url 'times' %}">Tijd</a></li>
              <li class="{% block type_class %}{% endblock %}"><a href="{% url 'types' %}">Soort</a></li>
            </ul>
          </div>
          <div class="menu">
            <img class="hamburger" src="{% static 'rauwkost/hamburger.jpg' %}">
            <ul>
              {% for p in pages %}
                <li><a href="{% url 'page' p.slug %}" {% if p.pk == page.pk %}class="current"{% endif %}>{{p.title}}</a></li>
              {% endfor %}
            </ul>
          </div>
        {% endblock %}
      </header>
    </div>

    <nav class="color{{color}}">
      {% block nav %}
      {% endblock %}
    </nav>

    <main>
      {% block main %}
      {% endblock %}
    </main>

    <footer>
    </footer>

    <script src="{% static 'jquery.min.js' %}"></script>
    <script>
      $(function() {
          var $hamburger = $(".hamburger");
          var $hamburgermenu = $("nav > ul.mobile");
          $hamburger.on("click", function(e) {
              $hamburger.toggleClass("visible");
              $hamburgermenu.toggleClass("visible");
          });

          $('a').each(function() {
              var a = new RegExp('/' + window.location.host + '/');
              if(!a.test(this.href)) {
                  $(this).click(function(event) {
                      event.preventDefault();
                      event.stopPropagation();
                      window.open(this.href, '_blank');
                  });
              }
          });
      });
    </script>
    {% block extrabody %}
    {% endblock %}
  </body>
</html>
