{% load static %}
{% load sass_tags %}
{% load thumbnail %}

<!DOCTYPE html>
<html lang="NL">
  <head>
    <title>{% block title %}Rauwkost Festival Den Bosch{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'rauwkost/favicon.png' %}">
    <link rel="stylesheet" href="{% sass_src 'rauwkost/main9.scss' %}">
    <link rel="stylesheet" href="{% sass_src 'rauwkost/hamburgers.css' %}">
    {% block extrahead %}{% endblock %}
  </head>
  <body class="color{{color}}">

    {% if header %}
      <img id="header" src="{{header.url}}" alt="Rauwkost Festival">
    {% endif %}

    <div class="header_container">
      <header>
        {% block header %}
          <div class="logo">
            <a href="/"><img height="70" src="{% static 'rauwkost/logo.png' %}" alt="Rauwkost"></a>
          </div>
          <div class="mobile_logo">
            <a href="/"><img height="70" src="{% static 'rauwkost/mobile_logo.png' %}" alt="Rauwkost"></a>
          </div>
          <div class="filters">
            <ul>
              <li class="color{{color}} {% block location_class %}{% endblock %}"><a href="{% url 'locations' %}?{% if current_location %}locatie={{current_location.slug}}&{% endif %}{% if current_time %}tijd={{current_time}}&{% endif %}{% if current_type %}soort={{current_type.slug}}{% endif %}">{% if current_location %}<span>Locatie</span>{% else %}Locatie{% endif %}{% if current_location %}<span>:</span> {{current_location.title}}{% endif %}</a></li>
              <li class="{% block time_class %}{% endblock %}"><a href="{% url 'times' %}?{% if current_location %}locatie={{current_location.slug}}&{% endif %}{% if current_time %}tijd={{current_time}}&{% endif %}{% if current_type %}soort={{current_type.slug}}{% endif %}">{% if current_time %}<span>Tijd</span>{% else %}Tijd{% endif %}{% if current_time %}<span>:</span> {{current_time}}:00{% endif %}</a></li>
              <li class="{% block type_class %}{% endblock %}"><a href="{% url 'types' %}?{% if current_location %}locatie={{current_location.slug}}&{% endif %}{% if current_time %}tijd={{current_time}}&{% endif %}{% if current_type %}soort={{current_type.slug}}{% endif %}">{% if current_type %}<span>Soort</span>{% else %}Soort{% endif %}{% if current_type %}<span>:</span> {{current_type.name}}{% endif %}</a></li>
            </ul>
          </div>
          <div class="menu">
            <button class="hamburger hamburger--collapse" type="button">
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
              </span>
            </button>
          </div>
        {% endblock %}
      </header>
    </div>

    <nav class="color{{color}}">
      {% block nav %}
      {% endblock %}
    </nav>

    <main>
      {% block main %}
      {% endblock %}
    </main>

    <footer>
      {{footer|safe}}
    </footer>

    <ul class="menu">
      {% for p in pages %}
        <li><a href="{% url 'page' p.slug %}" {% if p.pk == page.pk %}class="current"{% endif %}>{{p.title}}</a></li>
      {% endfor %}
    </ul>

    <script src="{% static 'jquery.min.js' %}"></script>
    <script>
      $(function() {
          var $hamburger = $(".hamburger");
          var $hamburgermenu = $("ul.menu");
          var $body = $('body');
          $hamburger.on("click", function(e) {
              $hamburger.toggleClass("is-active");
              $hamburgermenu.toggleClass("visible");
              $body.toggleClass('overlay');
          });

          $('a').each(function() {
              var a = new RegExp('/' + window.location.host + '/');
              if(!a.test(this.href)) {
                  $(this).click(function(event) {
                      event.preventDefault();
                      event.stopPropagation();
                      window.open(this.href, '_blank');
                  });
              }
          });
      });
    </script>
    {% block extrabody %}
    {% endblock %}
  </body>
</html>
