{% extends 'rauwkost/base.html' %}
{% load thumbnail %}
{% load embed_video_tags %}

{% block extrahead %}
  <meta property="og:url"         content="https://www.rauwkost.online/blog/{{blog.slug}}">
  <meta property="og:title"       content="{{blog.title}}">
  <meta property="og:description" content="{{blog.introduction}}">
  {% if blog.image %}
    <meta property="og:image"       content="https://www.rauwkost.nl{% thumbnail blog.image 500x500 %}">
  {% endif %}
{% endblock %}

{% block filters %}
  <div class="filters"></div>
{% endblock %}

{% block main %}
  <article class="color{{color}}">
    <section class="left">
    </section>

    <section class="middle">
      <h1>{{blog.title}}</h1>
      <div class="spacer"></div>

      {% if blog.image %}
        <div class="photos">
          <img src="{% thumbnail blog.image 800x800 %}">
        </div>
      {% endif %}

      {{blog.content|safe}}

      {% if blog.video %}
        <div class="video">
          <div class="iframe">
            {% video blog.video '800x600' %}
          </div>
        </div>
      {% endif %}
    </section>

    <section class="right">
    </section>
  </article>
{% endblock %}
