{% extends 'rauwkost/base.html' %}
{% load thumbnail %}
{% load embed_video_tags %}

{% block extrahead %}
  <meta property="og:url"         content="https://www.rauwkost.online/blog/{{blog.slug}}">
  <meta property="og:title"       content="{{blog.title}}">
  <meta property="og:description" content="{{blog.introduction}}">
  {% if blog.image %}
    <meta property="og:image"       content="https://www.rauwkost.online{% thumbnail blog.image 500x500 %}">
  {% endif %}
{% endblock %}

{% block nav_top %}{% endblock %}

{% block main %}
  <article class="program_detail color{{color}}">

    <section class="title">
      <h1>{{blog.title}}</h1>
      {% if blog.image %}
        <div class="image"><div><img src="{% thumbnail blog.image 800x800 %}"></div></div>
      {% elif blog.program.photos.first %}
        <div class="image"><div><img src="{% thumbnail blog.program.photos.first.image 800x800 %}"></div></div>
      {% endif %}
    </section>

    <section class="description">
      <p><b><i>{{blog.introduction|safe}}</i></b></p>
      {{blog.content|safe}}
    </section>

    {% if program.video %}
      <section class="video">
        <div class="video">
          <div class="iframe">
            {% video program.video '800x600' %}
          </div>
        </div>
      </section>
    {% endif %}
    {% for video in program.videos.all %}
      <section class="video">
        <div class="video">
          <div class="iframe">
            {% video video '800x600' %}
          </div>
        </div>
      </section>
    {% endfor %}

    {% if blog.program %}
      <section class="button">
        <a class="wood" href="{{blog.program.get_url}}">Bekijk {{blog.program}} op Rauwkost</a>
      </section>
    {% endif %}
  </article>

{% endblock %}
