{% extends 'rauwkost/program.html' %}
{% load thumbnail %}

{% block location_class %}active{% endblock %}

{% block nav %}
  <ul class="location_filter">
    {% for location in locations %}
      <li class="color{{location.color}} {% if location == current_location %}current{% endif %}">
        <a href="?locatie={{location.slug}}{% if current_type %}&soort={{current_type.slug}}{% endif %}">
          {% if location.icon %}
            <img src="{% thumbnail location.icon 200x200 %}" alt="{{location.title}}"><br>
          {% endif %}
          <span>{{location.title}}</span>
        </a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}

