{% extends 'rauwkost/base.html' %}
{% load embed_video_tags %}
{% load thumbnail static %}

{% block main %}
  {% for section in page.sections.all %}
    {% if section.type == 5 %}
      <section class="homepage">
        <div class="shifted">
          <h1>{{section.title}}</h1>
          {% if section.hyperlink %}
            <a class="wood" href="{{section.hyperlink}}">{{section.button}}</a>
          {% endif %}
        </div>
        <div class="tv">
          <a href="http://rauwkost.tv/"><img src="{% static 'rauwkost/tv.svg' %}" alt="Kijk hier de laatste aflevering van Rauwkost TV"></a>
        </div>
      </section>

    {% elif section.type == 10 %}
      <section class="normal">
        {% if section.image %}
          <div class="image">
            <img src="{% thumbnail section.image 800x800 %}" alt="{{section.title}}">
          </div>
        {% elif section.video %}
          <div class="video">
            <div class="iframe">
              {% video section.video '800x600' %}
            </div>
          </div>
        {% endif %}

        <div class="text">
          <h1>{{section.title}}</h1>
          {{section.content|safe}}
          {% if section.hyperlink %}
            <a class="wood" href="{{section.hyperlink}}">{{section.button}}</a>
          {% endif %}
        </div>
      </section>

    {% elif section.type == 20 %}
      <section class="news">
        {% for n in items %}
          <div class="program_container news">
            <div class="program">
              {% if n.image %}
                <div class="image">
                  <img src="{% thumbnail n.image 400x400 %}" alt="{{n.title}}">
                </div>
              {% endif %}

              <div class="text">
                {% if n.date %}<h3 style="font-size: 1.5em">{{n.date}}</h3>{% endif %}
                <h2>{{n.title}}</h2><br>
                {{n.get_intro|safe}}

                {% if n.get_url %}
                  <a class="wood small" href="{{n.get_url}}">{{n.button_text|default:"Lees meer"}}</a>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      </section>

    {% elif section.type == 30 and section.image%}
      <section class="photo">
        <img src="{% thumbnail section.image 800x800 %}">
        {{section.title}}
      </section>
    {% endif %}
  {% endfor %}
{% endblock %}

{% block extrabody %}
  <script src="{% static 'jquery.min.js' %}"></script>
  <script src="{% static 'rauwkost/imagesloaded.pkgd.min.js' %}"></script>
  <script src="{% static 'rauwkost/masonry.pkgd.min.js' %}"></script>
  <script>
    $(function() {
        var $grid = $('section.news').masonry({
            itemSelector: '.program_container',
        });
        $grid.masonry('layout');
        $grid.imagesLoaded().progress(function() {
            $grid.masonry('layout');
        });

        setInterval(function() {
            $grid.masonry('layout');
        }, 1000);
    });
  </script>
{% endblock %}
