{% extends 'rauwkost/base.html' %}
{% load embed_video_tags %}
{% load thumbnail %}

{% block main %}
  <article class="page">
    {% for section in page.sections.all %}
      <section>
        {% if section.image %}
          <div class="image">
            <img src="{% thumbnail section.image 800x800 %}" alt="{{section.title}}">
          </div>
        {% elif section.video %}
          <div class="video">
            <div class="iframe">
              {% video section.video '800x600' %}
            </div>
          </div>
        {% elif section.hyperlink %}
          <a class="circle button" href="{{section.hyperlink}}"><span>{{section.title}}</span></a>
        {% else %}
          <h1>{{section.title}}</h1>
        {% endif %}
        {{section.content|safe}}
      </section>
    {% endfor %}
  </article>
{% endblock %}
