{% extends 'rauwkost/base.html' %}
{% load static thumbnail %}

{% block logo %}
  <div class="logo">
    <a href="/"><img src="{% static 'rauwkost/logo.png' %}" alt="Rauwkost"></a>
  </div>
  <div class="mobile_logo">
    <a href="/"><img src="{% static 'rauwkost/mobile_logo.png' %}" alt="Rauwkost"></a>
  </div>
{% endblock %}

{% block filters %}
  <div class="filters">
    <ul>
      <li class="color{{color}} {% block location_class %}{% endblock %}">
        <a href="{% url 'locations' year %}?{% for key, values in request.GET.lists %}{% for value in values %}&{{ key }}={{ value }}{% endfor %}{% endfor %}">
          Locatie{% if current_locations %}: {% if current_locations|length == 1 %}{{current_locations.0.title}}{% else %}meerdere{% endif %}{% endif %}
        </a>
      </li>
      <li class="color{{color}} {% block time_class %}{% endblock %}">
        <a href="{% url 'times' year %}?{% for key, values in request.GET.lists %}{% for value in values %}&{{ key }}={{ value }}{% endfor %}{% endfor %}">
          Tijd{% if current_time %}: Vanaf {{current_time}}:00{% endif %}
        </a>
      </li>
      <li class="color{{color}} {% block type_class %}{% endblock %}">
        <a href="{% url 'types' year %}?{% for key, values in request.GET.lists %}{% for value in values %}&{{ key }}={{ value }}{% endfor %}{% endfor %}">
          Soort{% if current_types %}: {% if current_types|length == 1 %}{{current_types.0.name}}{% else %}meerdere{% endif %}{% endif %}
        </a>
      </li>
    </ul>
  </div>
{% endblock %}

{% block main %}
  {% if current_location %}
    <article class="color{{color}} location top">
      <section class="left">
        {% if current_location.icon %}
          <img src="{% thumbnail current_location.icon 150x150 %}">
        {% endif %}
      </section>

      <section class="middle">
        <h1>{{current_location}}</h1>
        {{current_location.description|safe}}
      </section>

      <section class="right">
        {% if current_location.logo %}
          <img src="{% thumbnail current_location.logo 150x150 %}">
        {% endif %}
      </section>
    </article>
  {% endif %}
  <article class="program">
    {% for program in programs %}
      <div class="program_container" onclick="window.location='{{program.get_url}}'">
        <div class="program color{{program.location.color}}">

          <div class="image">
            {% if program.thumbnail %}
              <img src="{% thumbnail program.thumbnail 400x400 %}" alt="{{program.title}}">
            {% elif program.photos.all.0 %}
              <img src="{% thumbnail program.photos.all.0.image 400x400 %}" alt="{{program.title}}">
            {% endif %}
          </div>

          <div class="circles">
            <div class="location color{{program.location.color}}">
              {% if program.location.iconbw %}
                <img src="{% thumbnail program.location.iconbw 64x64 %}" alt="{{program.location.name}}">
              {% endif %}
            </div>
            <div class="type color{{program.location.color}}">
              {% if program.type.icon %}
                <img src="{% thumbnail program.type.icon 64x64 %}" alt="{{program.type.name}}">
              {% endif %}
            </div>
            <div class="time color{{program.location.color}}">
              <span>
                {{program.begin}}-{{program.end}}
              </span>
            </div>
          </div>
          <div class="text">
            <h2>{{program.title}}</h2>
            {{program.short_description}}
            <div style="text-align: right; margin-right: 17px">
              <a class="arrow button color{{program.location.color}}" href="{{program.get_url}}"></a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </article>

  {% if current_location %}
    <article class="color{{color}} location bottom">
      <section class="left">
        {% if current_location.icon %}
          <img src="{% thumbnail current_location.icon 150x150 %}">
        {% endif %}
      </section>

      <section class="middle">
        <h1>{{current_location}}</h1>
        {{current_location.description|safe}}
      </section>

      <section class="right">
        {% if current_location.logo %}
          <img src="{% thumbnail current_location.logo 150x150 %}">
        {% endif %}
      </section>
    </article>
  {% endif %}
{% endblock %}

{% block extrabody %}
  <script src="{% static 'jquery.min.js' %}"></script>
  <script src="{% static 'rauwkost/imagesloaded.pkgd.min.js' %}"></script>
  <script src="{% static 'rauwkost/masonry.pkgd.min.js' %}"></script>
  <script>
    $(function() {
        var $grid = $('article.program').masonry({
            itemSelector: '.program_container',
        });
        $grid.masonry('layout');
        $grid.imagesLoaded().progress(function() {
            $grid.masonry('layout');
        });
    });
  </script>
{% endblock %}
