{% extends 'rauwkost/base.html' %}
{% load static thumbnail %}

{% block main %}
  {% for program in programs %}
    <div class="program_container" onclick="window.location='{{program.get_absolute_url}}'">
      <div class="program color{{program.location.color}}">

        <div class="image">
          {% if program.thumbnail %}
            <img src="{% thumbnail program.thumbnail 400x400 %}" alt="{{program.title}}">
          {% elif program.photos.all.0 %}
            <img src="{% thumbnail program.photos.all.0.image 400x400 %}" alt="{{program.title}}">
          {% endif %}
        </div>

        <div class="circles">
          <div class="location color{{program.location.color}}">
            {% if program.location.iconbw %}
              <img src="{% thumbnail program.location.iconbw 64x64 %}" alt="{{program.location.name}}">
            {% endif %}
          </div>
          <div class="type color{{program.location.color}}">
            {% if program.type.icon %}
              <img src="{% thumbnail program.type.icon 64x64 %}" alt="{{program.type.name}}">
            {% endif %}
          </div>
          <div class="time color{{program.location.color}}">
            <span>
              {{program.begin}}-{{program.end}}
            </span>
          </div>
        </div>
        <div class="text">
          <h2>{{program.title}}</h2>
          {{program.short_description}}
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}

{% block extrabody %}
  <script src="{% static 'jquery.min.js' %}"></script>
  <script src="{% static 'rauwkost/imagesloaded.pkgd.min.js' %}"></script>
  <script src="{% static 'rauwkost/masonry.pkgd.min.js' %}"></script>
  <script>
    $(function() {
        var $grid = $('main').masonry({
            itemSelector: '.program_container',
        });
        $grid.masonry('layout');
        $grid.imagesLoaded().progress(function() {
            $grid.masonry('layout');
        });
    });
  </script>
{% endblock %}
