{% extends 'rauwkost/base.html' %}
{% load thumbnail %}
{% load embed_video_tags %}

{% block title %}{{block.super}} - {{program.title}}{% endblock %}

{% block extrahead %}
  <meta property="og:url"         content="https://www.rauwkost.online{{program.get_url}}">
  <meta property="og:title"       content="{{program.title}}: {{program.tagline}}">
  <meta property="og:description" content="{{program.short_description}}">
  {% if program.photos.all.0.image %}
    <meta property="og:image"       content="http://www.rauwkost.nl{% thumbnail program.photos.all.0.image 500x500 %}">
  {% endif %}
{% endblock %}

{% block main %}
  <article class="program_detail color{{color}}">

    <section class="title">
      <h1>{{program.title}}</h1>
      <h2>{{program.tagline}}</h2>
      {% if program.photos.first %}
        <div class="image"><div><img src="{% thumbnail program.photos.first.image 800x800 %}"></div></div>
      {% endif %}
    </section>

    <section class="info">
      <div class="tags">
        {% for tag in program.tags.all %}
          <a href="{% url 'homepage' program.edition %}?tag={{tag}}">#{{tag}}</a>
        {% endfor %}
      </div>

      <dl>
        <dt><span>Begin</span></dt><dd><span>{{program.begin}}</span></dd>
        <dt><span>Einde</span></dt><dd><span>{{program.end}}</span></dd>
        <dt><span>Soort</span></dt><dd><span>{{program.type}}</span></dd>
        <dt><span>Locatie</span></dt><dd><span>{{program.location}}</span></dd>
        {% if program.sublocation %}
          <dt><span>Plek</span></dt><dd><span>{{program.sublocation}}</span></dd>
        {% endif %}
      </dl>
    </section>

    <section class="description">
      <div class="spacer"></div>
      <h1>{{program.title}}</h1>
      <p><b><i>{{program.short_description|safe}}</i></b></p>
      {{program.long_description|safe}}

      <div class="hyperlinks">
        {% for link in links %}
          {% if link.type.type == 'Website' %}
            <a href="{{link}}">{{link}}</a><br>
          {% endif %}
        {% endfor %}
        <div class="socialmedia">
          {% for link in links %}
            {% if link.icon %}
              <a href="{{link}}" class="color{{color}}"><img src="{% thumbnail link.icon.icon 100x100 %}"></a>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </section>

    {% if program.video %}
      <section class="video">
        <div class="video">
          <div class="iframe">
            {% video program.video '800x600' %}
          </div>
        </div>
      </section>
    {% endif %}
    {% for video in program.videos.all %}
      <section class="video">
        <div class="video">
          <div class="iframe">
            {% video video '800x600' %}
          </div>
        </div>
      </section>
    {% endfor %}

    <section class="location">
      <h1>
        {% if program.location.icon %}<img src="{% thumbnail program.location.icon 200x200 %}">{% endif %}
        <span>{{program.location.title}}</span>
        {% if program.location.logo %}<img class="color{{color}}" src="{% thumbnail program.location.logo 200x200 %}">
        {% else %}<img class="empty" src="">
        {% endif %}
      </h1>

      {% if program.location.sublocations.all %}
        <h2>
          {% for sublocation in program.location.sublocations.all %}
            <span>{{sublocation.title}}</span>
          {% endfor %}
        </h2>
      {% endif %}

      <p><b><i>{{program.location.introduction|safe}}</i></b></p>
      {% if program.location.photo %}<img src="{% thumbnail program.location.photo 800x800 %}">{% endif %}
      {{program.location.description|safe}}
      {% if program.location.photo_inside %}<img src="{% thumbnail program.location.photo_inside 800x800 %}">{% endif %}

      <div class="hyperlinks">
        {% for link in location_links %}
          {% if link.type.type == 'Website' %}
            <a href="{{link}}">{{link}}</a>
          {% endif %}
        {% endfor %}
        <div class="socialmedia">
          {% for link in location_links %}
            {% if link.icon %}
              <a href="{{link}}" class="color{{color}}"><img src="{% thumbnail link.icon.icon 100x100 %}"></a>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </section>

    {% if program.sublocation %}
      <section class="location">
        <h1>
          {% if program.sublocation.icon %}<img src="{% thumbnail program.sublocation.icon 200x200 %}">
          {% elif program.location.icon %}<img src="{% thumbnail program.location.icon 200x200 %}">{% endif %}
          <span>Plek: {{program.sublocation.title}}</span>
          {% if program.sublocation.logo %}<img class="color{{color}}" src="{% thumbnail program.sublocation.logo 200x200 %}">
          {% elif program.location.logo %}<img class="color{{color}}" src="{% thumbnail program.location.logo 200x200 %}">
          {% endif %}
        </h1>
        <p><b><i>{{program.sublocation.introduction|safe}}</i></b></p>
        {% if program.sublocation.photo %}<img src="{% thumbnail program.sublocation.photo 800x800 %}">{% endif %}
        {{program.sublocation.description|safe}}
        {% if program.sublocation.photo_inside %}<img src="{% thumbnail program.sublocation.photo_inside 800x800 %}">{% endif %}
      </section>
    {% endif %}

    {% if program.location.directions %}
      <section class="directions">
        <h1><span>Waar dan?</span></h1>
        <img src="{% thumbnail program.location.directions 800x800 %}">
      </section>
    {% endif %}

    {% if program.blogs.exists %}
      <section class="blog">
        <h1><span>Nieuws</span></h1>
        <ul>
          {% for blog in program.blogs.all %}
            <li class="color{{color}}">
              <div class="image"><div><img src="{% thumbnail blog.image 400x400 %}"></div></div>
              <h2>{{blog.title}}</h2>
              <p>{{blog.introduction}}</p>
              <a class="wood" href="{% url 'blog' blog.slug %}">Lees meer</a>
            </li>
          {% endfor %}
        </ul>
      </section>
    {% endif %}

    {% if program.partners.exists %}
      <section class="partners">
        <h1><span>Partners</span></h1>

        <div class="partners">
          {% for p in program.partners.all %}
            {% if p.partner.hyperlinks.exist %}
              <a class="color{{color}}" href="{{p.partner.hyperlinks.0}}">
                {% if p.partner.logo %}
                  <img src="{% thumbnail p.partner.logo 100x100 %}"><br>
                {% endif %}
                {{p.partner.titel}}
              </a>
            {% elif p.partner.logo %}
              <div class="color{{color}}">
                <img src="{% thumbnail p.partner.logo 100x100 %}"><br>
                {{p.partner.titel}}
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </section>
    {% endif %}

  </article>

{% endblock %}
