{% extends 'rauwkost/base.html' %}
{% load thumbnail %}

{% block main %}
  <article class="program_detail team">

    <section class="title">
      <h1>Maak kennis met alle bendeleden van Rauwkost 2020!</h1>
    </section>

    {% regroup members by role as members_per_role %}
    {% for role in members_per_role %}
      <section class="team">
        <h1><span>{{role.grouper}}</span></h1>
        <div class="members">
          {% for member in role.list %}
            {% if member.photo_fc %}
              <div class="member">
                {% if member.photo_fc %}
                  <img class="color" src="{% thumbnail member.photo_fc 400x400 %}">
                {% endif %}
                {% if member.photo_bw %}
                  <img class="bw" src="{% thumbnail member.photo_bw 400x400 %}">
                {% endif %}
                <h2>{{member.name}}</h2>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </section>
    {% endfor %}

  </article>
{% endblock %}
