{% extends 'rauwkost/base.html' %}
{% load thumbnail %}

{% block main %}
  <article class="program_detail team">

    <section class="title">
      <h1>Maak kennis met alle bendeleden van Rauwkost 2020!</h1>
    </section>

    <section class="team">
      <h1><span>Bendeleden</span></h1>
      <div class="members">
        {% for member in members %}
          {% if member.photo_fc and member.photo_bw %}
            <div class="member">{{member}}
              <img class="color" src="{% thumbnail member.photo_fc 400x400 %}">
              <img class="bw" src="{% thumbnail member.photo_bw 400x400 %}">
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </section>
  </article>
{% endblock %}
