{% extends 'rauwkost/program.html' %}
{% load thumbnail %}

{% block type_class %}active{% endblock %}

{% block nav %}
  <ul class="type_filter">
    {% for type in types %}
      <li class="color{{type.color}} {% if type == current_type %}current{% endif %}">
        <a href="{{type.get_absolute_url}}">
          {% if type.icon %}
            <img src="{% thumbnail type.icon 200x200 %}" alt="{{type.title}}"><br>
          {% endif %}
          <span>{{type.name}}</span>
        </a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
