@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 300;
	src:
		local('Poppins Light'),
		local('Poppins-Light'),
		/* from https://fonts.gstatic.com/s/poppins/v3/D2gN9uyZ9Ucx1fJ1Fhb7s1QlYEbsez9cZjKsNMjLOwM.eot */
		url('Poppins_300.eot%3F') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/poppins/v3/D2gN9uyZ9Ucx1fJ1Fhb7sxsxEYwM7FgeyaSgU71cLG0.woff */
		url('Poppins_300.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/poppins/v3/D2gN9uyZ9Ucx1fJ1Fhb7s_k_vArhqVIZ0nv9q090hN8.woff2 */
		url('Poppins_300.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=D2gN9uyZ9Ucx1fJ1Fhb7s6WUboTb-jS2tyCOQMtm97g&skey=4aabc5055a39e031&v=v3#Poppins */
		url('Poppins_300.svg') format('svg'),
		/* from https://fonts.gstatic.com/s/poppins/v3/D2gN9uyZ9Ucx1fJ1Fhb7sy3USBnSvpkopQaUR-2r7iU.ttf */
		url('Poppins_300.ttf') format('truetype');
}
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	src:
		local('Poppins Regular'),
		local('Poppins-Regular'),
		/* from https://fonts.gstatic.com/s/poppins/v3/olDgTpKzK_Gc4BNFKks84g.eot */
		url('Poppins_400.eot%3F') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/poppins/v3/SFusu2OSFiUt40t5QNWvnA.woff */
		url('Poppins_400.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/poppins/v3/HLBysyo0MQBO_7E-DWLwzg.woff2 */
		url('Poppins_400.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=j_KvOvu4ZZaZ9f72G1iz0Q&skey=87759fb096548f6d&v=v3#Poppins */
		url('Poppins_400.svg') format('svg'),
		/* from https://fonts.gstatic.com/s/poppins/v3/TDTjCH39JjVycIF24TlO-Q.ttf */
		url('Poppins_400.ttf') format('truetype');
}
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	src:
		local('Poppins Medium'),
		local('Poppins-Medium'),
		/* from https://fonts.gstatic.com/s/poppins/v3/yQWaOD4iNU5NTY0apN-qj1QlYEbsez9cZjKsNMjLOwM.eot */
		url('Poppins_500.eot%3F') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/poppins/v3/yQWaOD4iNU5NTY0apN-qjxsxEYwM7FgeyaSgU71cLG0.woff */
		url('Poppins_500.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/poppins/v3/yQWaOD4iNU5NTY0apN-qj_k_vArhqVIZ0nv9q090hN8.woff2 */
		url('Poppins_500.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=yQWaOD4iNU5NTY0apN-qj6WUboTb-jS2tyCOQMtm97g&skey=d4526a9b64c21b87&v=v3#Poppins */
		url('Poppins_500.svg') format('svg'),
		/* from https://fonts.gstatic.com/s/poppins/v3/yQWaOD4iNU5NTY0apN-qjy3USBnSvpkopQaUR-2r7iU.ttf */
		url('Poppins_500.ttf') format('truetype');
}
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	src:
		local('Poppins SemiBold'),
		local('Poppins-SemiBold'),
		/* from https://fonts.gstatic.com/s/poppins/v3/zO07Oxe3SOlw0l2YX2sdIVQlYEbsez9cZjKsNMjLOwM.eot */
		url('Poppins_600.eot%3F') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/poppins/v3/zO07Oxe3SOlw0l2YX2sdIRsxEYwM7FgeyaSgU71cLG0.woff */
		url('Poppins_600.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/poppins/v3/zO07Oxe3SOlw0l2YX2sdIfk_vArhqVIZ0nv9q090hN8.woff2 */
		url('Poppins_600.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=zO07Oxe3SOlw0l2YX2sdIaWUboTb-jS2tyCOQMtm97g&skey=ce7ef9d62ca89319&v=v3#Poppins */
		url('Poppins_600.svg') format('svg'),
		/* from https://fonts.gstatic.com/s/poppins/v3/zO07Oxe3SOlw0l2YX2sdIS3USBnSvpkopQaUR-2r7iU.ttf */
		url('Poppins_600.ttf') format('truetype');
}
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	src:
		local('Poppins Bold'),
		local('Poppins-Bold'),
		/* from https://fonts.gstatic.com/s/poppins/v3/57TQ-anwthzkETEIO4jESFQlYEbsez9cZjKsNMjLOwM.eot */
		url('Poppins_700.eot%3F') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/poppins/v3/57TQ-anwthzkETEIO4jESBsxEYwM7FgeyaSgU71cLG0.woff */
		url('Poppins_700.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/poppins/v3/57TQ-anwthzkETEIO4jESPk_vArhqVIZ0nv9q090hN8.woff2 */
		url('Poppins_700.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=57TQ-anwthzkETEIO4jESKWUboTb-jS2tyCOQMtm97g&skey=cea76fe63715a67a&v=v3#Poppins */
		url('Poppins_700.svg') format('svg'),
		/* from https://fonts.gstatic.com/s/poppins/v3/57TQ-anwthzkETEIO4jESC3USBnSvpkopQaUR-2r7iU.ttf */
		url('Poppins_700.ttf') format('truetype');
}
