{% extends "base.html" %}

{% block content %}

{% if validlink %}

<h2>Nieuw wachtwoord instellen</h2>

<p>
  Hee, welkom terug! Je kunt hieronder een nieuw wachtwoord instellen:
</p>

<form method="post">{% csrf_token %}
{{ form.new_password1.errors }}
<p class="aligned wide"><label for="id_new_password1">Nieuw wachtwoord:</label>{{ form.new_password1 }}</p>
{{ form.new_password2.errors }}
<p class="aligned wide"><label for="id_new_password2">Herhaal het nieuwe wachtwoord:</label>{{ form.new_password2 }}</p>
<p><input type="submit" value="Opslaan" /></p>
</form>

{% else %}

<p>
  Deze link om een nieuw wachtwoord in te stellen is niet meer geldig.
</p>

{% endif %}

{% endblock %}
