{% extends "base.html" %}

{% block content %}

<h2>Succes!</h2>

<p>
  Je wachtwoord is opnieuw ingesteld. Je kunt hieronder inloggen met je gebruikersnaam en het nieuwe wachtwoord. Lukt het nog steeds niet? Stuur dan even een mailtje naar <a href="mailto:info@mijndenbosch.nl">info@mijndenbosch.nl</a> en dan helpen wij je verder!
</p>

<form action="{% url 'auth_login' %}" method="POST">
  {% csrf_token %}
  <p><label for="id_username">Gebruikersnaam:</label> <input id="id_username" maxlength="254" name="username" type="text" /></p>
  <p><label for="id_password">Wachtwoord:</label> <input id="id_password" name="password" type="password" /></p>
  <p><input type="submit" value="Inloggen"></p>
</form>

{% endblock %}
