{% extends 'base_with_sidebar.html' %}
{% load static %}

{% block sidebar %}
{% include 'uitleg.html' %}
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
{% include 'steps.html' with step1_current=True step2_allowed=True %}

<form>
  <h2>Activatie voltooid!</h2>
  <p>
    Je hebt succesvol een gebruikersnaam en wachtwoord aangemaakt. Deze eerste stap is daarom voltooid. Wil je een nieuw gebruikersaccount aanmaken? <a href="{% url 'auth_logout' %}">Log dan eerst uit</a> en ga daarna na de aanmeldpagina.
  </p>
</form>

{% else %}
{% include 'steps.html' with step1_current=True %}

<form action="" method="POST">
  {% csrf_token %}
  <h2>Kies een gebruikersnaam en wachtwoord</h2>
  <p>
    Heb je al een gebruikersnaam en wachtwoord? <a href="{% url 'auth_login' %}">Klik dan hier</a> om in te loggen!
  </p>
  {% for field in form %}
  {% for error in field.errors %}<ul class="errorlist"><li>{{error}}</li></ul>{% endfor %}
  <p class="{% if field.errors %} error {% endif %}{% if field.name in form.halfsized_fields %} half {% endif %}">
    {{field.label_tag}}{{field}}
  </p>
  {% endfor %}
  <div class="spacer"></div>
  <input type="submit" value="Verder">
</form>

{% endif %}
{% endblock %}
